.page-careers {
  .careers-container {
    max-width: 874px;
    margin: 0 auto;
    @media (max-width: 999px) {
      padding: 0 15px;
    }
    .page-intro {
      margin-bottom: 40px;
      margin-top: 55px;
      @media (max-width: 767px) {
        margin: 30px -15px;
      }
      span {
        &:first-child {
          img {
            width: 0;
            height: 0;
          }
        }
        @media (max-width: 767px) {
          padding: 0 15px;
        }
      }
      h1 {
        font-size: 48px;
        font-weight: 800;
        color: #000;
        line-height: 69px;
        @media (max-width: 767px) {
          font-size: 36px;
          line-height: 50px;
          padding: 0 15px;
        }
      }
      p {
        font-size: 16px;
        line-height: 33px;
        color: #000;
        margin-bottom: 20px;
        // padding-#{$end}: 150px;
        @media (max-width: 767px) {
          padding: 0 15px;
          font-weight: 300;
          letter-spacing: 0.44px;
          line-height: 28px;
          margin-bottom: 30px;
        }
      }
      img {
        max-width: 100%;
        max-height: 300px;
      }
    }

    .vacancies {
      margin-bottom: 80px;
      @media (max-width: 767px) {
        margin-bottom: 0;
      }
      h2 {
        font-size: 20px;
        font-weight: bold;
        line-height: 33px;
        margin-bottom: 30px;
        @media (max-width: 767px) {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }
      .tab {
        position: relative;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #dddddd;
        margin: 20px 0;
        cursor: pointer;
        @include transition(0.3s);

        &:last-child {
          border: none;
        }
        &:first-child {
          .content {
            p {
              padding: 0;
              &::before {
                display: none;
              }
            }
          }
        }
        @media (max-width: 767px) {
          padding: 0 0 15px 0;
          margin: 15px 0;
        }

        h3 {
          color: #121212;
          font-size: 24px;
          font-weight: 300;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media (max-width: 767px) {
            font-size: 15px;
            font-weight: 600;
          }
          span {
            display: inline-block;
            background: linear-gradient(-225deg, rgb(146 216 246 / 10%) 0%, rgb(16 166 224 / 10%) 100%);
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.39px;
            color: #00a9e7;
            line-height: 20px;
            margin-#{$end}: 40px;
            padding: 0 4px;
            @media (max-width: 767px) {
              font-size: 11px;
              letter-spacing: 0.31px;
              line-height: 15px;
              margin-#{$end}: 30px;
            }
          }
        }

        .content {
          display: none;
          padding: 20px 0px 0px;
          @media (max-width: 767px) {
            padding: 15px 0 0px;
          }
          p {
            color: #121212;
            font-size: 16px;
            font-weight: 300;
            line-height: 31px;
            position: relative;
            padding-#{$start}: 20px;

            // &::before {
            //   content: "";
            //   width: 8px;
            //   height: 8px;
            //   position: absolute;
            //   #{$start}: 0;
            //   top: 10px;
            //   bottom: 0;
            //   border-radius: 50%;
            //   background: black;
            // }
            @media (max-width: 992px) {
              font-size: 16px;
            }
            @media (max-width: 767px) {
              font-size: 14px;
              line-height: 28px;
            }
          }
          a {
            display: block;
            margin-top: 24px;
            font-size: 15px;
            color: #983e97;
            @media (max-width: 767px) {
              font-size: 14px;
              font-weight: 600;
              letter-spacing: 0.39px;
              line-height: 28px;
              margin-top: 15px;
            }
          }
        }

        i {
          height: 26px;
          width: 26px;
          line-height: 26px;
          color: #d5d5d5;
          position: absolute;
          text-align: center;
          top: 0;
          #{$end}: 0;
          font-size: 28px;
          font-weight: bold;
          cursor: pointer;

          body.rtl & {
            top: 10px;
          }

          &.hide-ques {
            display: none;
            color: #983e97;
          }

          @media (max-width: 767px) {
            font-size: 14px;
            width: auto;
            height: auto;
            line-height: inherit;
            top: 3px;
          }
        }
        ul{
          li{
            color: #121212;
            font-size: 16px;
            font-weight: 300;
            line-height: 31px;
            position: relative;
            padding-#{$start}: 20px;

            &::before {
              content: "";
              width: 8px;
              height: 8px;
              position: absolute;
              #{$start}: 0;
              top: 10px;
              bottom: 0;
              border-radius: 50%;
              background: black;
            }
            @media (max-width: 992px) {
              font-size: 16px;
            }
            @media (max-width: 767px) {
              font-size: 14px;
              line-height: 28px;
            }
            & ~ li{
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
