.page-contact {
  .contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 999px) {
      flex-direction: column;
    }
    .image {
      position: relative;
      display: inline-block;
      width: 675px;

      .desktop {
        display: block;
      }
      .mob {
        display: none;
      }

      @media (max-width: 999px) {
        width: auto;
        .desktop {
          display: none;
        }
        .mob {
          display: block;
          max-height: 427px;
          max-width: 280px;

        }
      }
      
      
      &::before {
        content: "";
        position: absolute;
        width: 200px;
        #{$end}: -18px;
        top: 85px;
        bottom: 85px;
        border-radius: 4px;
        background: linear-gradient(180deg, #f89524 0%, #ffd42a 100%);
      }
      img {
        position: relative;
      }
    }
    .content {
      display: inline-block;
      width: calc(100% - 675px);
      padding-#{$start}: 70px;
      @media (max-width: 1200px) {
        width: 100%;
        padding: 0;
        text-align: center;
      }
      @media (max-width: 767px) {
        padding-top: 20px;
      }
      span {
        img{
          max-width: 250px;
          max-height: 32px;
        }
      }
      h1 {
        font-size: 41px;
        font-weight: 800;
        margin-bottom: 40px;
        margin-top: 0;
        @media (max-width: 1200px) {
          margin-bottom: 50px;
        }
        @media (max-width: 767px) {
          font-size: 30px;
          margin-bottom: 35px;
        }
      }
      p {
        font-size: 16px;
        font-weight: bold;
        line-height: 27px;
        margin-bottom: 20px;
        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 15px;
        }
      }
      .image {
        @media (max-width: 1200px) {
          display: block !important;
          margin: 0 -15px;
          width: 100vw;
          img {
            width: 100%;
            height: 420px;
            object-fit: cover;
          }
          &::before {
            width: auto;
            right: 10px;
            left: 10px;
            top: -20px;
            bottom: -20px;
            background: linear-gradient(45deg, rgb(248, 149, 36) 0%, rgb(255, 212, 42) 100%);
          }
        }
        @media (max-width: 767px) {
          img {
            height: 280px;
            
            &::before {
              top: -15px;
              bottom: -15px;
            }
          }
        }
      }
      .contact-form {
        @media (max-width: 1200px) {
          position: relative;
          // top: -60px;
          z-index: 1;
          background-color: #fff;
          box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);
          padding: 25px 30px 2px;
          text-align: #{$start};
          width: 95%;
          margin: 0 auto;
        }
        @media (max-width: 767px) {
          padding: 25px 12px 10px;
          width: 100%;
        }
        form {
          .ff-el-group {
            margin-bottom: 27px;
            @media (max-width: 767px) {
              margin-bottom: 20px;
            }

            .control-label {
              display: block;
              font-size: 14px;
              margin-bottom: 4px;
            }



            .ff-el-form-control {
              display: block;
              width: 100%;
              border: 1px solid #d1d6e5;
              height: 44px;
              padding: 0 15px;
              font-size: 14px;
              font-weight: 400;
            }

            textarea {
              resize: none;
              height: 86px !important;
              padding: 15px !important;
            }

            select {
              cursor: pointer;
              -webkit-appearance: none;
              background-image: url(../images/select-arrow.png);
              background-repeat: no-repeat;
              background-position: 96% 50%;
              body.rtl & {
                background-position: 4% 50%;
              }
            }

            .ff-btn  {
              display: block;
              background-color: #25b023;
              width: 256px;
              line-height: 46px;
              border-radius: 4px;
              text-align: center;
              text-transform: uppercase;
              color: #fff;
              font-size: 18px;
              font-weight: bold;
              text-transform: uppercase;
              cursor: pointer;
              transition: 0.3s all ease-in-out;
              &:hover {
                background-color: #1da71b;
              }
              @media (max-width: 767px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .tec-sup {
    text-align: center;
    @media (max-width: 767px) {
      display: block !important;
      img {
        max-width: 100%;
      }
      a {
        margin-top: 40px;
        display: block;
        margin-bottom: -20px;
      }
    }
  }
  &.page-partner {
    .contact-content {
      .content {
        h1 {
          margin-bottom: 3px;
        }
        p.head-desc {
          font-size: 15px;
          font-weight: 300;
          letter-spacing: 0.44px;
          line-height: 28px;
          margin-bottom: 25px;
          @media (max-width: 767px) {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
