.page-faq {
  .faq-container {
    max-width: 1170px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 100%;
      padding: 0 15px;
    }

    .page-title {
      text-align: center;
      margin-top: 90px;
      margin-bottom: 60px;
      @media (max-width: 767px) {
        text-align: #{$start};
        margin-top: 30px;
        margin-bottom: 15px;
      }
        span {
          img{
            width: 247px;
            height: 32px;
          }
        }
      h1 {
        font-size: 48px;
        font-weight: 800;
        line-height: 69px;
        color: #000;
        @media (max-width: 767px) {
          font-size: 26px;
          line-height: 40px;
        }
      }
      p {
        font-size: 16px;
        line-height: 33px;
        color: #000;
        @media (max-width: 767px) {
          line-height: 28px;
          font-weight: 300;
          color: #414241;
        }
      }
    }

    .faq-content {
      display: flex;
      align-items: flex-start;
      margin-bottom: 80px;

      @media (max-width: 767px) {
        flex-wrap: wrap;
      }

      .faq-filter {
        background-color: rgb(0 169 231 / 10%);
        border-radius: 4px;
        padding: 30px 50px;
        width: 350px;
        @media (max-width: 999px) {
          padding: 15px 25px;
          width: 300px;
        }
        @media (max-width: 767px) {
          border-radius: 0;
          padding: 0;
          margin: 0 -15px;
          display: block;
          width: 100vw;
        }
        ul {
          @media (max-width: 767px) {
            display: flex;
            align-items: center;
            width: 100%;
            flex-wrap: nowrap;
            overflow: auto;
            padding: 0 15px;
            &::-webkit-scrollbar {
              display: none;
            }
          }
          li {
            display: block;
            font-size: 24px;
            font-weight: 800;
            line-height: 59px;
            color: #b5c1c6;
            cursor: pointer;
            &.active,
            &:hover {
              color: #00a9e7;
            }
            @media (max-width: 999px) {
              font-size: 22px;
              line-height: 53px;
            }
            @media (max-width: 767px) {
              white-space: nowrap;
              font-size: 16px;
              white-space: nowrap;
              margin-#{$end}: 20px;
            }
          }
        }
      }
      .tabs-content {
        display: inline-block;
        width: calc(100% - 380px);
        padding-#{$start}: 30px;
        @media (max-width: 999px) {
          width: calc(100% - 310px);
          padding-#{$start}: 20px;
        }
        @media (max-width: 767px) {
          width: 100%;
          padding: 0;
        }
        .tab {
          display: none;
          pointer-events: none;
          position: relative;
          margin: 0 0 30px;
          cursor: pointer;
          background: white;
          border-radius: 4px;
          box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);
          padding: 24px 44px 24px 32px;
          border-#{$start}: 4px solid rgb(115 113 116 / 30%);
          // @include transition(0.3s);

          body.rtl & {
            direction: rtl;
            padding: 24px 32px 24px 44px;
          }

          &.show {
            display: block;
            pointer-events: auto;
          }

          @media (max-width: 767px) {
            padding: 15px 33px 15px 20px;
            margin: 20px 0;

            body.rtl & {
              padding: 15px 20px 15px 33px;
            }
          }

          h3 {
            color: #121212;
            font-size: 18px;
            font-weight: bold;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 767px) {
              font-size: 14px;
              font-weight: 600;
            }
          }

          .content {
            display: none;
            padding: 5px 0px 0px;
            p {
              color: #121212;
              font-size: 16px;
              font-weight: 300;
              line-height: 29px;

              @media (max-width: 992px) {
                font-size: 16px;
              }
              @media (max-width: 767px) {
                font-size: 12px;
                line-height: 22px;
              }
            }
            .tw-data-text  {
              position: relative;
              padding-#{$start}: 20px;
              &::before {
                content: "";
                width: 8px;
                height: 8px;
                position: absolute;
                #{$start}: 0;
                top: 10px;
                bottom: 0;
                border-radius: 50%;
                background: black;
              }
            }
            pre {
              white-space: break-spaces;
            }
            a{
              display: block;
              padding-#{$start}: 20px;
              color: #00a9e7;
              &:hover{
                text-decoration: underline;
              }
            }
          }

          i {
            height: 26px;
            width: 26px;
            line-height: 26px;
            color: #d5d5d5;
            position: absolute;
            text-align: center;
            top: 20px;
            #{$end}: 20px;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;

            body.rtl & {
              top: 25px;
              @media (max-width: 767px) {
                top: 20px;
              }
            }

            &.hide-ques {
              display: none;
              color: #00a9e7;
            }

            @media (max-width: 767px) {
              width: auto;
              height: auto;
              line-height: inherit;
              top: 15px;
              #{$end}: 15px;
              font-size: 18px;
            }
          }

          &.active {
            background-color: rgb(0 169 231 / 11%);
            border-color: #00a9e7;
          }
        }
      }
    }
  }
}
