.page-content{
    .brands-products{
        @media (max-width:767px){
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .products-nav{
        position: relative;
        width: 1164px;
        margin: 0 auto;
        top: -100px;
        @media (max-width:1200px){
            overflow: hidden;
            width: 100%;
        }
        @media (max-width:999px){
            top: 5px;
            padding: 40px 0 0;
        }
        .title{
            @media (max-width:767px){
                display: block !important;
                text-align: center;
                margin-bottom: 15px;
            }
            h4{
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 1px;
                margin-bottom: 7px;
            }
            // p{
            //     font-style: italic;
            //     font-weight: 100;
            //     letter-spacing: 1px;
            // }
        }
        .products-nav-con{
            display: flex;
            justify-content: space-between;
            @media (max-width:1200px){
                overflow-x: auto;
                overflow-y: hidden;
                padding: 0 20px;
                &::-webkit-scrollbar{
                    display: none;
                }
            }

            @media (max-width:767px) {
                flex-direction: column;
                padding: 0 15px;
            }

            li{
                transition: .4s all ease-in-out;
                @media (max-width:1200px){
                    margin-#{$end}:20px;
                    &:last-child{
                        margin:0;
                    }
                }
                @media (max-width:767px) {
                    margin-#{$end}:0px;
                    margin-bottom: 35px;
                    &:last-child{
                        margin-bottom:0;
                    }
                }
                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    span{
                        position: relative;
                        font-size: 17px;
                        font-weight: 600;
                        color: #414241;
                        letter-spacing: 0.46px;
                        i{
                            position: absolute;
                            #{$end}: -20px;
                            font-size: 20px;
                            top: 1px;
                        }
                    }
                    .image{
                        display: block;
                        background: rgb(255, 255, 255);
                        border-radius: 3.56px;
                        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
                        font-size: 0;
                        margin-bottom: 15px;
                        @media (max-width:767px) {
                            width: 100%;
                            text-align: center;
                            padding: 10px 0;
                            margin-bottom: 20px;
                        }
                    }
                }

                &:hover{
                    margin-top: -6px;
                }
            }
        }
    }   

    .our-brands{
        @media (max-width:999px) {
            padding: 60px 15px 0;
        }
        @media (max-width:767px) {
            padding: 30px 15px 0;
        }
        .brands-container{
            max-width: 917px;
            margin: 0 auto;
            @media (max-width:767px) {
                border-bottom: 1px solid rgb(151 151 151 / 20%);
            }

            .title{
                text-align: center;
                margin-bottom: 50px;
                @media (max-width:767px) {
                    margin-bottom: 20px;
                }
                h4{
                    font-size: 36px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 7px;
                }
            }

            .brand-widget{
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                @media (max-width:767px){
                    flex-direction: column;
                    margin-bottom: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                .image{
                    @media (max-width:767px) {
                        img{
                            max-width: 100%;
                        }
                    }
                }
                .content{
                    padding-#{$start}: 75px;
                    @media (max-width:767px) {
                        position: relative;
                        margin-top: -60px;
                        margin-bottom: 50px;
                        padding: 0;
                    }
                    img{
                        margin-bottom: 20px;
                        @media (max-width:767px) {
                            margin-#{$start}: 10px;
                            background: white;
                            border-radius: 5px;
                            box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 15%);
                            padding: 5px 10px;
                            width: 101px;
                            height: 101px;
                            object-fit: contain;
                        }
                    }
                    p{
                        font-size: 16px;
                        font-weight: 300;
                        letter-spacing: 0.44px;
                        line-height: 28px;
                    }
                }
                &.flip{
                    flex-direction: row-reverse;
                    @media (max-width:767px){
                        flex-direction: column;
                    }
                    .content{
                        padding-#{$start}: 0;
                        padding-#{$end}: 75px;
                        @media (max-width:767px){
                            padding-#{$end}: 0px;
                        }
                    }
                }
            }
        }
    }

    .hearts{
        background: linear-gradient(-180deg, rgb(235, 41, 43) 0%, rgb(248, 162, 133) 100%);
        margin: 110px 0 130px;
        text-align: center;
        padding:145px 0;
        @media (max-width:999px){
            margin: 80px 0 70px;
            padding: 85px 0;
        }
        @media (max-width:767px){
            margin: 50px 0 70px;
            padding: 70px 35px 45px;
        }
        .hearts-container{
            max-width: 1060px;
            margin: 0 auto;
            h4{
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 0.83px;
                color: #fff;
                margin-bottom: 40px;
                strong{
                    font-weight: 600;
                }
                @media (max-width:767px){
                    font-size: 19px;
                    margin-bottom: 25px;
                    line-height: 31px;
                }
            }

            .animate-word{
                display: flex;
                justify-content: center;
                @media (max-width:767px) {
                    width: 230px;
                    margin: 0 auto;
                    flex-direction: column;
                    position: relative;                
                }
                div{
                    display: inline-block;
                    margin: 0 30px;
                    @media (max-width:999px) {
                        margin: 0 10px;
                    }
                    @media (max-width:767px){
                        position: relative;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin: 0;
                    }
                    b{
                        display: inline-block;
                        font-size: 160px;
                        font-weight: 900;
                        color: #ec2b2d;  
                        @media (max-width:767px){
                            font-size: 87px;
                        }
                    }
                    span{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        width: 1px;
                        height: 40px;
                        background-color: #fff;
                        margin: -15px auto 15px;
                        @media (max-width:767px) {
                            transform: rotate(90deg);
                            margin: 0 40px;
                            position: absolute;
                            #{$start}: 50px;
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            top: 0;
                            height: 5px;
                            width: 5px;
                            background-color: #fff;
                            border-radius: 50%;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            height: 5px;
                            width: 5px;
                            background-color: #fff;
                            border-radius: 50%;
                        }
                    }
                    p{
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: #fff;
                        @media (max-width:767px) {
                            position: absolute;
                            #{$start}: 130px;
                        }
                    }
                }
            }
        }
    }

    .about-section{
        margin-bottom: 200px;
        @media (max-width:999px){
            margin-bottom: 70px;
        }
        .about-con{
            display: flex;
            align-items: center;
            @media (max-width:767px) {
                flex-direction: column-reverse;
            }
            .image{
                position: relative;
                background: linear-gradient(45deg, rgb(248, 149, 36) 0%, rgb(255, 212, 42) 100%);
                border-radius: 4px;
                height: 485px;
                width: 485px;
                @media (max-width:1200px) {
                    height: 385px;
                    width: 405px;
                }
                @media (max-width:999px){
                    height: 245px;
                }
                @media (max-width:767px) {
                    width: 100%;
                    height: 339px;
                    border-radius: 2.8px;
                }
                img{
                    position: absolute;
                    top: 45px;
                    #{$end}:45px;
                    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
                    @media (max-width:1200px) {
                        max-width: 100%;
                    }
                    @media (max-width:999px){
                        top: 25px;
                        #{$end}: 25px;
                    }
                }
            }
            .content{
                position: relative;
                display: inline-block;
                width: calc(100% - 485px);
                padding-#{$start}:90px;
                padding-#{$end}:180px;
                @media (max-width:1200px) {
                    width: calc(100% - 345px);
                    padding-#{$start}:30px;
                    padding-#{$end}:90px;
                }
                @media (max-width:999px){
                    width: calc(100% - 35px);
                    padding-#{$start}:60px;
                    padding-#{$end}:70px;
                }
                @media (max-width:767px) {
                    width: 100%;
                    padding: 120px 0 0;                
                }
                &::before{
                    content: '';
                    height: 142px;
                    width: 59px;
                    background-image: url(../images/about-decore.png);
                    position: absolute;
                    #{$start}:0;
                    top: 0;
                    @media (max-width:1200px) {
                        #{$start}:-40px;
                    }
                    @media (max-width:999px) {
                        #{$start}:-3px;
                        width: 50px;
                        height: 122px;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    @media (max-width:767px) {
                        top: -40px;
                        #{$start}: 2px;
                        width: 59px;
                        height: 142px;
                        z-index: 1;
                    }
                }
                h4{
                    font-size: 36px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 13px;
                }
                p{
                    font-size: 18px;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    line-height: 28px;
                    margin-bottom: 30px;
                }
                a{
                    display: table;
                    position: relative;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    color: #983e97;

                    i{
                        position: absolute;
                        #{$end}:-30px;
                        transition: 0.2s all ease-in-out;
                    }

                    &:hover{
                        i{
                            margin-#{$end}: -3px;
                        }
                    }
                }
            }
        }
    }

    .subscription-section{
        display: flex;
        height: 581px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center #{$end};
        background-size: auto;
        @media (max-width:767px) {
            flex-direction: column-reverse;
            height: auto;
            padding-top: 350px;
            background-position: center top;
        }
        .content{
            position: relative;
            background-color: #17a1d7;
            display: flex;
            width: 45%;
            padding-#{$end}: 100px;
            max-width: 760px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-#{$start}:80px;
            color: #fff;

            @media (max-width:1200px) {
                width: 50%;
                padding-#{$end}: 0px;
                padding-#{$start}: 50px;
            }

            @media (max-width:999px) {
                width: 55%;
            }

            @media (max-width:767px){
                width: 100%;
                padding: 20px 16px 60px;
            }

            &::after{
                content:'';
                position: absolute;
                top:0;
                bottom: 0;
                #{$end}:-176px;
                width: 176px;
                background-image: url(../images/wave.png);
                background-repeat: no-repeat;

                @media (max-width:999px) {
                    #{$end}:-174px;
                }

                @media (max-width:767px){
                    right: 0;
                    left: 0;
                    top: auto;
                    bottom: 100%;
                    margin-bottom: -15px;
                    transform: rotate(270deg);
                    height: 130%;
                    width: 100%;
                }
            }

            p{
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 1px;
                line-height: 36px;
                margin-bottom: 42px;
                @media (max-width:999px) {
                    font-size: 20px;
                    line-height: 31px;
                    margin-bottom: 22px;
                }
            }

            .form{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                @media (max-width:767px){
                    justify-content:space-between;
                }
                label{
                    display: block;
                    width: 100%;
                    font-size: 19px;
                    font-weight: bold;
                    letter-spacing: 0.79px;
                    line-height: 36px;
                    margin-bottom: 5px;
                    @media (max-width:999px) {
                        font-size: 16px;
                        line-height: 25px;
                        margin-bottom: 10px;
                    }
                    @media (max-width:767px){
                        font-size: 16px;
                        line-height: 25px;
                        margin-bottom: 10px;
                    }
                }
                input{
                    background: #fff;
                    border-radius: 21.5px;
                    height: 43px;
                    width: 343px;
                    padding:14px;
                    font-size: 13px;
                    font-weight: 600;
                    color: #121212;
                    margin-#{$end}:5px;
                    &::placeholder{
                        color: #121212;
                        @media (max-width:767px){
                            font-size:11px
                        }
                    }
                    &:focus{
                        &::placeholder{
                            opacity: 0;
                        }
                    }

                    @media (max-width:999px) {
                        width: 260px;
                    }

                    @media (max-width:767px){
                        width: 235px;
                    }
                }
                .btn{
                    background: #414241;
                    border-radius: 19.5px;
                    height: 39px;
                    width: 103px;
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #fff;
                    transition: 0.3s all ease-in-out;
                    &:hover{
                        background: #2c2c2c;
                    }
                }
            }
        }
    }


}