.page-footer{
    padding-top: 60px;
    @media (max-width:767px) {
        padding-top: 70px;
    }
    .container{
        @media (max-width:767px) {
            padding: 0;
        }
    }
    .footer-con{
        display: flex;
        justify-content: space-between;
        @media (max-width:767px) {
            flex-direction: column;
            align-items: center;
            margin-bottom: -50px;
        }
        .site-map{
            display: flex;
            justify-content: space-between;
            width: 60%;
            @media (max-width:1200px) {
                width: 75%;
            }
            @media (max-width:767px) {
                width: 100%;
                justify-content: center;
                margin-bottom: 20px;
            }
            .footer-logo{
                padding-top: 60px;
                @media (max-width:767px) {
                    padding: 0;
                }
            }
            .links{
                display: flex;
                @media (max-width:999px) {
                    padding-#{$start}:20px;
                }
                @media (max-width:767px) {
                    display: none;
                }
                .links-widget{
                    display: inline-block;
                    margin-#{$end}:70px;
                    @media (max-width:999px) {
                        margin-#{$end}:40px;
                    }
                    &:last-child{
                        margin-#{$end}:0px;
                    }
                    h5{
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 0.5px;
                        margin-bottom: 10px;
                    }
                    ul{
                        li{
                            margin-bottom: 13px;
                            a{
                                font-size: 16px;
                                font-weight: 300;  
                                &:hover{
                                    text-decoration: underline;
                                }                                  
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .contact-col{
            text-align: #{$end};
            @media (max-width:767px) {
                text-align: center;
            }
            .customer-sup{
                margin-bottom: 20px;
                @media (max-width:767px) {
                    margin-bottom: 18px;
                }
                a{
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    background: linear-gradient(
                -225deg, #92d8f6 0%, #10a6e0 100%);
                    border-radius: 5px;
                    color: #fff;
                    padding: 3px 8px;
                    transition: all .2s ease-in-out;
                    img{
                        display: inline-block;
                        margin-#{$start}: 7px;
                    }
                    &:hover{
                        text-decoration: none;
                        background: linear-gradient(
                            -225deg, #92d8f6 0%, #0a91c5 100%);
                    }
                } 
            }
            span{
                display: block;
                font-size: 16px;
                font-weight: bold;
            }
            p{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 1px;
                margin-bottom: 14px;
                @media (max-width:767px) {
                    justify-content: center;
                }
            }
            .social{
                display: flex;
                align-items: center;
                li{
                    display: inline-block;
                    margin-#{$start}:6px;
                    a{
                        display: block;
                        height: 38px;
                        width: 38px;
                        border-radius: 50%;
                        background-color: #121212;
                    }
                    &.facebook{
                        a{
                            background-color: #3e7de6;
                        }
                    }
                    &.twitter{
                        a{
                            background-color: #53bcf9;
                        }
                    }
                    &.youtube{
                        a{
                            background-color: #eb060b;
                        }
                    }
                    &.linkedin{
                        a{
                            background-color: #116ad4;
                        }
                    }
                }
            }
        }
    }
    .copyright{
        .top{
            display: flex;
            justify-content: flex-end;
            padding: 10px 0 15px;
            border-bottom: 1px solid rgb(151 151 151 / 20%);
            margin-bottom: 15px;
            @media (max-width:767px) {
                display: none;
            }
            .lang-switcher{
                a{
                    display: flex;
                    align-items: center;
                    font-family: cairo;
                    font-size: 12px;
                    img{
                        display: inline-block;
                        margin-#{$start}: 6px;
                    }
                    body.rtl & {
                        font-family: "Urbanist", sans-serif;
                    }
                }
            }
        }
        .bottom{
            padding-bottom: 15px;
            @media (max-width:767px) {
                background-image: url(../images/footer-wav.png);
                padding: 70px 0 15px;
                text-align: center;
                background-repeat: no-repeat;
                background-position: center bottom;
            }
            p{
                font-size: 12px;
                font-weight: 300;
                color: #414241;
                letter-spacing: 0.38px;
                margin-bottom: 3px;
                @media (max-width:767px) {
                    font-size: 11px;
                    color: #fff;
                }
            }
            a{
                font-size: 11px;
                font-weight: 300;
                color: #b1b1b1;
                letter-spacing: 0.34px;
                @media (max-width:767px) {
                    color: #fff;
                }
            }
        }
    }
}








