/* helpers */
* {
    box-sizing: border-box;
}

.container {
    padding: 0 15px;
    max-width: 1280px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
    @media (max-width:1200px) {
        margin: 0;
    }
}

@mixin transition($what:all, $time:0.2s, $how:ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition: $what $time $how;
    -ms-transition: $what $time $how;
    -o-transition: $what $time $how;
    transition: $what $time $how;
}

@mixin MaterialFamily {
    font-family: "Material Icons" !important;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
    font-style: normal;
    text-transform: none;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
}

%overlay {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

%cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

%fl-row {
    display: flex;
    flex-direction: row;
}

%fl-column {
    display: flex;
    flex-direction: column;
}

body.has-bg {
    position: relative;
    background-image: url(../images/about/long-bg.png);
    background-repeat: no-repeat;
    background-position: -9% 3%;
    background-size: initial;
    @media (max-width: 1200px) {
      background-image: none;
    }
  }