.intro{
    background: linear-gradient(-225deg, rgb(220, 241, 255) 0%, rgb(165, 194, 214) 100%);
    height: 615px;
    overflow: hidden;
    @media (max-width:999px) {
        height: auto;
    }
    .hero-banner{
        position: relative;
        max-width: 1440px;
        padding: 30px 15px 0;
        height: 100%;
        margin: 0 auto;

        @media (max-width:999px) {
            padding: 40px 15px 0;
        }

        .item{
            .item-container{
                display: flex;
                justify-content: space-between;
                @media (max-width:999px) {
                    flex-direction: column;
                    align-items: center;
                }
                .content{
                    display: block;
                    width: 55%;
                    padding-#{$start}: 100px;
                    padding-top: 100px;
                    @media (max-width:999px) {
                        padding: 0;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 45px;
                    }
                    .icon{
                        margin-bottom: 20px;
                        @media (max-width:999px) {
                            display: none;
                        }
                    }
                    h3{
                        font-size: 48px;
                        font-weight: 800;
                        letter-spacing: 0.8px;
                        margin-bottom: 20px;
                        @media (max-width:999px) {
                            font-size: 38px;
                            margin-bottom: 5px;
                        }
                        @media (max-width:767px) {
                            font-size: 28px;
                            margin-bottom: 15px;
                        }
                    }
                    p{
                        font-size: 30px;
                        font-weight: 300;
                        letter-spacing: 0.5px;
                        line-height: 45px;  
                        @media (max-width:999px) {
                            font-size: 25px;
                        }  
                        @media (max-width:767px) {
                            font-size: 15px;
                            line-height: initial;
                        }                    
                    }
                }

                .image{
                    display: inline-block;
                    width: 47%;
                    @media (max-width:999px) {
                        width: 100%;
                        text-align: center;
                        img{
                            margin: 0 auto;
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        .slick-dots{
            position: absolute;
            bottom: 160px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width:999px) {
                bottom: -1px;
                background-color: #fff;
                height: 50px;
                z-index: 9999999;
                padding-top: 15px;
            }
            li{
                margin: 0 3px;
                button{
                    text-indent: -9999px;
                    height: 6px;
                    width: 70px;
                    background-color: rgba(65, 66, 65, 0.3);
                    border-radius: 20px;
                    transition: 0.3s all ease-in-out;
                }
                &.slick-active,&:hover{
                    button{
                        background-color: #414241;
                    }
                }
            }
        }

        .slick-arrow{
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
            span{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgb(255, 255, 255);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                height: 56px;
                width: 56px;
                border-radius: 50%;
                cursor: pointer;
                z-index: 1;
                transition: .2s all ease-in-out;
                i{
                    font-size: 26px;
                }
                &:hover{
                    background-color: #00a9e7;
                    color: #fff;
                }
            }

            &.prev-arrow{
                #{$start}: 20px;
                @media (max-width:999px) {
                    #{$start}: -28px;
                    span{
                        padding-#{$start}: 20px;
                    }
                }
            }
            &.next-arrow{
                #{$end}: 20px;
                @media (max-width:999px) {
                    #{$end}: -28px;
                    span{
                        padding-#{$end}: 20px;
                    }
                }
            }
            &.slick-disabled{
                span{
                    pointer-events: none;
                    opacity: .7;
                }

            }

        }

    }
}