@import "lang/all";  
@import 'reset';
@import 'colors';
@import 'helpers';
@import 'header';
@import 'footer';
@import 'hero';
@import 'content';
@import 'swiper.min';
@import "pages/all";
@import "plugins/all";
@import "animate";

  
 
// /* import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo:400,500,600,700,300,200,100|Roboto+Condensed:700" rel="stylesheet');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:100,200,300,400,500,600,700,800,900');


body,
html {

  font-family: 'Urbanist', sans-serif;
  color: #414241;
  position: relative;
  
}

a {
  text-decoration: none;
  color: inherit;
}

body.no-scroll{
  overflow: hidden;
}

body{
  overflow-x: hidden;
}

