.page-content {
    min-height: auto!important;
    .brands-products {
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .products-nav {
        position: relative;
        width: 1164px;
        margin: 0 auto;
        top: -85px;
        @media (max-width: 1200px) {
            overflow: hidden;
            width: 100%;
        }
        @media (max-width: 999px) {
            top: 5px;
            padding: 40px 0 0;
        }
        .title {
            @media (max-width: 767px) {
                display: block !important;
                text-align: center;
                margin-bottom: 15px;
            }
            h4 {
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 1px;
                margin-bottom: 7px;
            }
            p {
                img {
                    height: 0;
                    width: 0;
                }
            }
        }
        .products-nav-con {
            display: flex;
            justify-content: space-between;
            column-gap: 20px;
            @media (max-width: 1200px) {
                overflow-x: auto;
                overflow-y: hidden;
                padding: 0 20px;
                &::-webkit-scrollbar {
                    display: none;
                }
            }

            @media (max-width: 767px) {
                flex-direction: column;
                padding: 0 15px;
            }

            li {
                transition: 0.4s all ease-in-out;
                @media (max-width: 1200px) {
                    margin-#{$end}: 20px;
                    &:last-child {
                        margin: 0;
                    }
                }
                @media (max-width: 767px) {
                    margin-#{$end}: 0px;
                    margin-bottom: 35px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    span {
                        position: relative;
                        font-size: 13px;
                        font-weight: 600;
                        color: #414241;
                        display: flex;
                        letter-spacing: 0.46px;
                        align-items: center;
                        i {
                            position: absolute;
                            #{$end}: -20px;
                            top: 1px;
                            font-size: 16px;
                            body.rtl & {
                                top: 8px;
                                transform: rotate(180deg);
                            }
                        }
                    }
                    .image {
                        display: block;
                        background: rgb(255, 255, 255);
                        border-radius: 3.56px;
                        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
                        font-size: 0;
                        margin-bottom: 15px;
                        img{
                            height: auto;
                        }
                        @media (max-width: 767px) {
                            width: 100%;
                            text-align: center;
                            padding: 10px 0;
                            margin-bottom: 20px;
                        }
                        @media (max-width: 999px) {
                            img {
                                width: 175px;
                               
                            }
                        }
                    }
                }

                &:hover {
                    margin-top: -6px;
                }
            }
        }
    }

    .our-brands {
        @media (max-width: 999px) {
            padding: 60px 15px 0;
        }
        @media (max-width: 767px) {
            padding: 30px 15px 0;
        }
        .brands-container {
            max-width: 917px;
            margin: 0 auto;
            @media (max-width: 767px) {
                border-bottom: 1px solid rgb(151 151 151 / 20%);
            }

            .title {
                text-align: center;
                margin-bottom: 50px;
                @media (max-width: 767px) {
                    margin-bottom: 20px;
                }
                h4 {
                    font-size: 36px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 7px;
                }
            }

            .brand-widget {
                display: flex;
                align-items: center;
                margin-bottom: 100px;
                @media (max-width: 767px) {
                    flex-direction: column;
                    margin-bottom: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                .image {
                    width: 500px;
                    @media (max-width: 767px) {
                        width: 100%;
                        height: 389px;
                    }
                    img {
                        min-height: 500px;
                        height: auto;
                    }
                    @media (max-width: 767px) {
                        img {
                            width: 100%;
                            max-width: 100%;
                            min-height: auto;
                        }
                    }
                }
                .content {
                    padding-#{$start}: 75px;
                    width: calc(100% - 500px);
                    @media (max-width: 767px) {
                        position: relative;
                        margin-top: -60px;
                        margin-bottom: 50px;
                        padding: 0;
                        width: 100%;
                    }
                    img {
                        margin-bottom: 20px;
                        width: 100px;
                        height: auto;
                        @media (max-width: 767px) {
                            margin-#{$start}: 10px;
                            background: white;
                            border-radius: 5px;
                            box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 15%);
                            padding: 5px 10px;
                            width: 101px;
                            height: 101px;
                            object-fit: contain;
                        }
                    }
                    p {
                        font-size: 16px;
                        font-weight: 300;
                        letter-spacing: 0.44px;
                        line-height: 28px;
                    }
                }
                &.flip {
                    flex-direction: row-reverse;
                    @media (max-width: 767px) {
                        flex-direction: column;
                    }
                    .content {
                        padding-#{$start}: 0;
                        padding-#{$end}: 75px;
                        @media (max-width: 767px) {
                            // padding-#{$end}: 0px;
                        }
                    }
                }
            }
        }
    }

    .hearts {
        background: linear-gradient(-180deg, rgb(235, 41, 43) 0%, rgb(248, 162, 133) 100%);
        margin: 110px 0 130px;
        text-align: center;
        padding: 100px 0;
        height: 100vh;
        display: flex;
        align-items: center;
        @media (max-width: 999px) {
            margin: 80px 0 70px;
            padding: 85px 0;
            height: auto;
        }
        @media (max-width: 767px) {
            margin: 50px 0 70px;
            padding: 70px 35px 45px;
        }
        .hearts-container {
            max-width: 1060px;
            margin: 0 auto;
            h4 {
                font-size: 30px;
                font-weight: 300;
                letter-spacing: 0.83px;
                color: #fff;
                margin-bottom: 40px;
                strong {
                    font-weight: 600;
                }
                @media (max-width: 767px) {
                    font-size: 19px;
                    margin-bottom: 25px;
                    line-height: 31px;
                }
            }

            .animate-word {
                display: flex;
                justify-content: center;
                body.rtl & {
                    flex-direction: row-reverse;
                }
                @media (max-width: 767px) {
                    width: 230px;
                    margin: 0 auto;
                    flex-direction: column !important;
                    position: relative;
                }
                div {
                    display: inline-block;
                    margin: 0 30px;
                    @media (max-width: 999px) {
                        margin: 0 10px;
                    }
                    @media (max-width: 767px) {
                        position: relative;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin: 0;
                    }
                    b {
                        display: inline-block;
                        font-size: 200px;
                        font-weight: 900;
                        color: #ec2b2d;
                        @media (max-width: 767px) {
                            font-size: 87px;
                        }
                    }
                    span {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        width: 1px;
                        height: 40px;
                        background-color: #fff;
                        margin: -15px auto 15px;
                        @media (max-width: 767px) {
                            transform: rotate(90deg);
                            margin: 0 40px;
                            position: absolute;
                            #{$start}: 50px;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            height: 5px;
                            width: 5px;
                            background-color: #fff;
                            border-radius: 50%;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            height: 5px;
                            width: 5px;
                            background-color: #fff;
                            border-radius: 50%;
                        }
                    }
                    p {
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: #fff;
                        @media (max-width: 767px) {
                            position: absolute;
                            #{$start}: 130px;
                        }
                    }
                }
            }
        }
    }

    .about-section {
        margin-bottom: 200px;
        @media (max-width: 999px) {
            margin-bottom: 70px;
        }
        .about-con {
            display: flex;
            align-items: center;
            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }
            .image {
                position: relative;
                background: linear-gradient(45deg, rgb(248, 149, 36) 0%, rgb(255, 212, 42) 100%);
                border-radius: 4px;
                height: 485px;
                width: 485px;
                @media (max-width: 1200px) {
                    height: 385px;
                    width: 405px;
                }
                @media (max-width: 999px) {
                    height: 245px;
                }
                @media (max-width: 767px) {
                    width: 100%;
                    height: 339px;
                    border-radius: 2.8px;
                }
                img {
                    position: absolute;
                    top: 45px;
                    #{$end}: 45px;
                    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
                    @media (max-width: 1200px) {
                        max-width: 100%;
                    }
                    @media (max-width: 999px) {
                        top: 25px;
                        #{$end}: 25px;
                    }
                    @media (max-width: 767px) {
                       height: auto;
                    }
                }
            }
            .content {
                position: relative;
                display: inline-flex;
                width: calc(100% - 485px);

                padding-#{$end}: 180px;
                @media (max-width: 1200px) {
                    width: calc(100% - 345px);

                    padding-#{$end}: 90px;
                }
                @media (max-width: 999px) {
                    width: calc(100% - 35px);

                    padding-#{$end}: 70px;
                }
                @media (max-width: 767px) {
                    width: 100%;
                    padding: 70px 0 0;
                }

                .leaf-image {
                    position: relative;
                    padding: 0 30px;
                    height: 142px;
                    width: 59px;
                    direction: ltr;
                    @media (max-width: 767px) {
                        position: absolute;
                        top: -20px;
                        z-index: 1;
                    }
                    img {
                        position: absolute;
                        max-width: 31px;
                        height: 41px;
                        object-fit: revert;
                        &.leaf-1 {
                            bottom: 0;
                        }
                        &.leaf-2 {
                            bottom: 13px;
                            left: 0;
                        }
                        &.leaf-3 {
                            bottom: 34px;
                        }
                        &.leaf-4 {
                            left: 0;
                            bottom: 47px;
                        }
                        &.leaf-5 {
                            bottom: 68px;
                        }
                        &.leaf-6 {
                            left: 0;
                            bottom: 81px;
                        }
                        &.leaf-7 {
                            top: -1px;
                        }
                    }
                }
                .content-text {
                    padding-#{$start}: 20px;
                    @media (max-width: 767px) {
                        padding-#{$start}: 0px;
                        width: 100%;
                        padding-top: 50px;
                    }
                }
                h4 {
                    font-size: 36px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 13px;
                }
                p {
                    font-size: 18px;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    line-height: 28px;
                    margin-bottom: 30px;
                }
                a {
                    display: table;
                    position: relative;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    color: #983e97;

                    @media (max-width: 767px) {
                        display: flex;
                        align-items: center;
                    }

                    i {
                        position: absolute;
                        #{$end}: -30px;
                        transition: 0.2s all ease-in-out;
                        top: 0;
                        body.rtl & {
                            transform: rotate(180deg);
                            top: 5px;
                        }
                        @media (max-width: 767px) {
                            position: relative;
                            #{$end}: auto;
                        }
                    }

                    &:hover {
                        i {
                            margin-#{$end}: -3px;
                            @media (max-width: 767px) {
                                margin-#{$end}: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .subscription-section {
        display: flex;
        height: 581px;
        overflow: hidden;
        justify-content: center;
        @media (max-width: 767px) {
            flex-direction: column-reverse;
            height: auto;
            background-position: center top;
        }
        .content {
            position: relative;
            background-color: #17a1d7;
            display: flex;
            width: 45%;
            padding-#{$end}: 100px;
            max-width: 760px;
            justify-content: center;
            flex-direction: column;
            padding-#{$start}: 80px;
            color: #fff;

            @media (max-width: 1200px) {
                width: 50%;
                padding-#{$end}: 0px;
                padding-#{$start}: 50px;
            }

            @media (max-width: 999px) {
                width: 55%;
            }

            @media (max-width: 767px) {
                width: 100%;
                padding: 20px 16px 60px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                #{$end}: -176px;
                width: 176px;
                background-image: url(../images/wave.png);
                background-repeat: no-repeat;

                body.rtl & {
                    transform: rotate(180deg);
                }

                @media (max-width: 999px) {
                    #{$end}: -174px;
                }

                @media (max-width: 767px) {
                    right: 0;
                    left: 0;
                    top: auto;
                    bottom: 100%;
                    margin-bottom: -15px;
                    transform: rotate(270deg);
                    height: 430px;
                    width: 100%;
                }
                @media (max-width: 600px) {
                    margin-bottom: -30px;
                }
            }

            p {
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 1px;
                line-height: 36px;
                margin-bottom: 42px;
                @media (max-width: 999px) {
                    font-size: 20px;
                    line-height: 31px;
                    margin-bottom: 22px;
                }
            }

            .form {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                width: max-content;
                @media (max-width: 767px) {
                    width: 100%;
                    justify-content: space-between;
                }
                label {
                    display: block;
                    width: 330;
                    font-size: 19px;
                    font-weight: bold;
                    letter-spacing: 0.79px;
                    line-height: 36px;
                    margin-bottom: 5px;
                    @media (max-width: 999px) {
                        font-size: 16px;
                        line-height: 25px;
                        margin-bottom: 10px;
                    }
                    @media (max-width: 767px) {
                        font-size: 16px;
                        line-height: 25px;
                        margin-bottom: 10px;
                        width: 277px;
                    }
                }
                input {
                    background: #fff;
                    border-radius: 21.5px;
                    height: 43px;
                    width: calc(100% - 108px);
                    padding: 14px;
                    font-size: 13px;
                    font-weight: 600;
                    color: #121212;
                    margin-#{$end}: 5px;
                    &::placeholder {
                        color: #121212;
                        @media (max-width: 767px) {
                            font-size: 11px;
                        }
                    }
                    &:focus {
                        &::placeholder {
                            opacity: 0;
                        }
                    }
                    @media (max-width: 767px) {
                        width: calc(100% - 40px);
                        body.rtl & {
                            width: calc(100% - 30px);
                        }
                    }
                }
                .btn {
                    background: #414241;
                    border-radius: 19.5px;
                    position: absolute;
                    bottom: 0px;
                    #{$end}: 0;
                    height: 39px;
                    width: 103px;
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #fff;
                    transition: 0.3s all ease-in-out;
                    &:hover {
                        background: #2c2c2c;
                    }
                }
            }
        }
    }
}
