.page-header {
  position: relative;
  padding: 20px 0 0;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
  @media (max-width: 1200px) {
    padding: 15px 0;
    z-index: 99999;
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1200px) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 99999999999;
      width: 100vw;
      display: block;
      padding: 15px;
      background-image: url(../images/menu-wav.png);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s all ease-in-out;
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }

    .right {
      @media (max-width: 1200px) {
        display: flex;
        flex-direction: column-reverse;
      }
      .support-menu {
        margin-bottom: 23px;
        @media (max-width: 1200px) {
          margin-bottom: 0;
        }
        
        ul {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          @media (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-start;
          }
          @media (max-width: 1200px) {
            padding: 0;
          }

          li {
            display: inline-block;
            margin-#{$start}: 15px;
            @media (max-width: 1200px) {
              display: block;
              margin: 0 0 20px;
              body.rtl & {
                margin: 0 0 10px;
              }
            }
            a {
              font-size: 14px;
              font-weight: 500;
              &:hover {
                text-decoration: underline;
              }

              @media (max-width: 1200px) {
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #9c9c9c;
              }
            }
            &.lang-switcher {
              a {
                display: flex;
                align-items: center;
                font-family: cairo;
                font-size: 12px;
                img {
                  display: inline-block;
                  margin-#{$start}: 6px;
                  max-width: 22px;
                  max-height: 14px;
                }
                body.rtl & {
                  font-family: "Urbanist", sans-serif;
                }
              }
              @media (max-width: 1200px) {
                display: none;
              }
            }
            &.customer-sup {
              @media (max-width: 1200px) {
                margin-top: 0;
                margin-bottom: 0;
              }
              a {
                display: flex;
                align-items: center;
                font-weight: bold;
                background: linear-gradient(-225deg, #92d8f6 0%, #10a6e0 100%);
                border-radius: 5px;
                color: #fff;
                padding: 3px 8px;
                transition: all 0.2s ease-in-out;
                @media (max-width: 1200px) {
                  padding: 5px 8px;
                }
                img {
                  display: inline-block;
                  margin-#{$start}: 7px;
                }
                &:hover {
                  text-decoration: none;
                  background: linear-gradient(-225deg, #92d8f6 0%, #0a91c5 100%);
                }
              }
            }
          }
        }
      }
      .nav-menu {
        display: flex;
        align-items: center;
        margin: 0;
        @media (max-width:767px){
          padding: 0;
        }
        @media (max-width: 1200px) {
          flex-direction: column;
          align-items: flex-start;
        }
        .close-mega {
          width: 100%;
          padding: 0 15px;
          line-height: 40px;
          background-color: #ecf0f3;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          margin: 0 -15px 0;
          position: absolute;
          z-index: 9999999;
          top: 90px;
          // transition: 0.4s all ease-in-out;
          align-items: center;
          &.active {
            @media (max-width: 1200px) {
              display: flex !important;
            }
          }
          img {
            margin-#{$end}: 10px;
            body.rtl & {
              transform: rotate(180deg);
            }
          }
        }
        ul{
          @media (max-width:767px){
            padding: 0;
          }
          
        }
        li {
          display: inline-block;
          margin-#{$start}: 35px;
          padding-bottom: 23px;
          cursor: pointer;
          @media (max-width: 1200px) {
            margin: 0 0 20px;
            body.rtl & {
              margin: 0 0 10px;
            }
          }
          a {
            position: relative;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            transition: 0.2s all ease-in-out;
            z-index: 5;
            &::after {
              content: "";
              position: relative;
              position: absolute;
              bottom: -24px;
              left: 0;
              right: 0;
              height: 2px;
              background-color: #00a9e7;
              opacity: 0;
              @media (max-width: 1200px) {
                display: none;
              }
              body.rtl & {
                bottom: -22px;
              }
            }
          }
          &:hover,
          &.active {
            a {
              &::after {
                opacity: 1;
              }
            }
          }
          &.has-menu {
            display: inline-flex;
            align-items: center;
            &::after {
              content: "arrow_drop_down";
              font-family: "Material Icons";
              font-size: 24px;
            }
            a.desktop-link {
              @media (max-width: 1200px) {
                display: none;
              }
            }
            span {
              font-size: 18px;
              font-weight: 600;
              letter-spacing: 0.5px;
              text-transform: uppercase;
              transition: 0.2s all ease-in-out;
              @media (max-width: 1200px) {
                display: block !important;
              }
            }
            .mega-menu {
              position: relative;
              position: absolute;
              top: 100%;
              left: 0;
              right: 0;
              background-color: #fff;
              width: 100%;
              // margin-top: -24px;
              margin-top: 0;
              transition: 0.4s all ease-in-out;
              display: none;
              opacity: 0;
              pointer-events: none;
              z-index: 2;
              @media (max-width: 1200px) {
                top: 110px;
                left: 0;
                right: 0;
                height: 100%;
                margin: 0;
                z-index: 999999;
                padding: 40px 15px 0;
                background-image: url(../images/menu-wav.png);
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: contain;
                transition: inherit;
              }
              @media (max-width: 767px) {
                background-image: none;
                padding: 40px 0 0;
                overflow: auto;
              }
              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100vh;
                top: 25px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgb(0 0 0 / 60%);
                z-index: 0;
                pointer-events: none;
                @media (max-width: 1200px) {
                  display: none;
                }
              }
              h4 {
                @media (max-width: 1200px) {
                  display: block !important;
                  font-size: 24px;
                  font-weight: bold;
                  letter-spacing: 0.67px;
                  text-transform: uppercase;
                }
                @media (max-width: 767px) {
                  padding: 0 15px;
                }
              }
              .dropdown-menu {
                position: relative;
                z-index: 99;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border-top: 1px solid rgb(151 151 151 / 20%);
                padding: 45px 0;
                // margin-top: 25px;
                @media (max-width: 1200px) {
                  width: 100%;
                  border: none;
                  padding: 0;
                  margin: 0;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  justify-content: space-between;
                  margin-top: 30px;
                }
                @media (max-width: 767px) {
                  background-image: url(../images/menu-wav.png);
                  background-position: 50% 100%;
                  background-repeat: no-repeat;
                  background-size: auto;
                  padding: 0 15px;
                  padding-bottom: 70%;
                }
                li {
                  display: block;
                  margin: 0;
                  @media (max-width: 1200px) {
                    width: calc((100% / 3) - 10px);
                    margin-bottom: 40px;
                  }
                  @media (max-width: 767px) {
                    width: 100%;
                  }
                  a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 17px;
                    font-weight: 600;
                    color: #414241;
                    letter-spacing: 0.46px;
                    &::after {
                      display: none;
                    }
                    span {
                      position: relative;
                      i {
                        position: absolute;
                        #{$end}: -20px;
                        font-size: 20px;
                        // transform: rotate(180deg);
                        body.rtl & {
                          #{$start}: -20px;
                          top: 9px;
                          transform: rotate(0deg);
                        }
                      }
                    }
                    img {
                      display: block;
                      margin-bottom: 15px;
                      @media (max-width: 1200px) {
                        background: rgb(255, 255, 255);
                        border-radius: 3.72px;
                        box-shadow: 0px 4px 9px 0px rgb(0 0 0 / 10%);
                        width: 100%;
                        object-fit: cover;
                        margin-bottom: 25px;
                      }
                      @media (max-width: 767px) {
                        height: 156px;
                        object-fit: none;
                      }
                    }
                  }
                }
                &.brands {
                  align-items: stretch;
                  li {
                    padding: 0 80px;
                    border-#{$end}: 1px solid #a7aaac;
                    &:first-child{
                      a{
                        img{

                          @media (min-width:767px){
                            margin-bottom: 0;

                          }
                        }
                      }
                    }
                    &:last-child {
                      border-#{$end}: 0;
                    }
                    a {
                      height: 100%;
                      justify-content: end;
                    }

                    @media (max-width: 767px) {
                      border: none;
                    }
                  }
                }
              }
            }
            &:hover {
              .mega-menu {
                display: block;
                opacity: 1;
                pointer-events: auto;
              }
            }
            &.clicked {
              pointer-events: none;
            }
          }
        }
      }
    }

    .left {
      @media (max-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        .logo {
          img {
            max-width: 120px;
            height: auto;
          }
        }
        .mobile-nav-btns {
          display: flex !important;
          align-items: center;
          font-size: 0;
          .lang-switcher {
            a {
              display: flex;
              align-items: center;
              font-family: cairo;
              font-size: 12px;
              font-weight: 600;
              white-space: nowrap;

              img {
                display: inline-block;
                margin-#{$start}: 6px;
                max-width: 22px;
                max-height: 14px;
              }
              body.rtl & {
                font-family: "Urbanist", sans-serif;
              }
            }
          }
          .close-menu {
            display: inline-block;
            margin-#{$start}: 15px;
            i {
              font-size: 28px;
            }
          }
        }
      }
    }
  }
  .mobile-header {
    @media (max-width: 1200px) {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
    }
    .logo {
      img {
        max-width: 120px;
      }
    }
    .mobile-nav-btns {
      display: flex;
      align-items: center;
      font-size: 0;
      .lang-switcher {
        a {
          display: flex;
          align-items: center;
          font-family: cairo;
          font-size: 12px;
          font-weight: 600;
          img {
            display: inline-block;
            margin-#{$start}: 6px;
            max-width: 22px;
            max-height: 14px;
          }
          body.rtl & {
            font-family: "Urbanist", sans-serif;
          }
        }
      }
      .trigger-menu {
        display: inline-block;
        margin-#{$start}: 15px;
        i {
          font-size: 28px;
        }
      }
    }
  }
  &.shop-header {
    border-bottom: 1px solid rgb(151 151 151 / 20%);
    @media (max-width: 1200px) {
      border-bottom: none;
    }
  }
}

body.sticky-header {
  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 20%);
    padding: 15px 0;
    .header-content {
      .left {
        .logo {
          img {
            max-width: 115px;
          }
        }
      }
      .right {
        .support-menu {
          display: none;
          @media (max-width: 1200px) {
            display: block;
          }
        }
        .nav-menu {
          li {
            a {
              &::after {
                bottom: -30px;
              }
            }
          }
          li.has-menu {
            a {
              &::after {
                bottom: -22px;
              }
            }
            // .mega-menu{
            //   margin-top: -34px;
            //   background-color: transparent;
            //   .dropdown-menu{
            //     // margin-top: 15px;
            //   }
            // }
          }
        }
      }
    }
  }
}
