/* helpers */
* {
  box-sizing: border-box;
}
html{
  @media (max-width:999px){
    overflow-x: hidden;
  }
}
.container {
  padding: 0 15px;
  max-width: 1280px;
  margin: 0 auto;
}

.row {
  margin: 0 -15px;
  @media (max-width: 1200px) {
    margin: 0;
  }
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -ms-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
}

@mixin MaterialFamily {
  font-family: "Material Icons" !important;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
}

%overlay {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

%cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

%fl-row {
  display: flex;
  flex-direction: row;
}

%fl-column {
  display: flex;
  flex-direction: column;
}

body.has-bg {
  position: relative;
  background-image: url(../images/about/long-bg.png);
  background-repeat: no-repeat;
  background-position: -9% 3%;
  background-size: initial;
  @media (max-width: 1200px) {
    background-image: none;
  }
}

.overlay-loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  pointer-events: none;
  top: 0;
  width: calc(100% / 3);
  direction: ltr;
  &.first {
    background: #fff;
  }
  &.second {
    background: #fff;
    #{$start}: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    // span{
    //     animation: swiping 1.1s linear infinite alternate;
    // }
    .leaf-image {
      position: relative;
      padding: 0 30px;
      height: 142px;
      width: 59px;
      direction: ltr;
      img {
        position: absolute;
        width: 31px;
        object-fit: revert;
        opacity: 0;
        animation: growing 2s ease-in-out infinite alternate;
        &.leaf-1 {
          bottom: 0;
          animation-delay: 2s;
        }
        &.leaf-2 {
          bottom: 13px;
          left: 0;
          animation-delay: 2.2s;
        }
        &.leaf-3 {
          bottom: 34px;
          animation-delay: 2.4s;
        }
        &.leaf-4 {
          left: 0;
          bottom: 47px;
          animation-delay: 2.6s;
        }
        &.leaf-5 {
          bottom: 68px;
          animation-delay: 2.8s;
        }
        &.leaf-6 {
          left: 0;
          bottom: 81px;
          animation-delay: 3s;
        }
        &.leaf-7 {
          top: -1px;
          animation-delay: 3.2s;
        }
        
      }
    }
  }
  &.third {
    background: #fff;
    #{$start}: 66.6%;
  }
}

@keyframes growing {  
0% {
    opacity: 0;
    height: 0;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    opacity: 1;
    height: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}


.reviews-overlay{
  position: fixed;
  z-index: 9999999;
  top: 0;
  #{$end}: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  @include transition(all, 0.3s, ease);
}

.overlay_visible {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}


.desktop{
  display: none;

  &.active{
    display: block;
  }
}
.mobile{
  display: none;

  &.active{
    display: block;
  }
}

.desc{
  @media (max-width:767px){
    display: none !important;
  }
}
.mob{
  display: none !important;
  @media (max-width:767px){
    display: block !important;
  }
}

.error-404 {
  text-align: center;
  min-height: calc(100vh - 96px - 330px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .page-content {
      margin-top: 120px;
      @media (max-width:767px){
          margin-top: 10px;
      }
  }
  h1 {
      font-size: 270px;
      font-weight: 900;
      line-height: 160px;
      margin: 0;
      color: black;
      @media (max-width: 767px) {
          font-size: 180px;
          line-height: 160px;
      }
      span {
          display: block;
          font-size: 48px;
          font-weight: 700;
          line-height: 100px;
          margin-top: 40px;
          text-transform: uppercase;
          @media (max-width: 767px) {
              font-size: 36px;
              margin-top: 0;
              line-height: 80px;
          }
      }
  }
  p {
      font-size: 40px;
      margin: 0 auto;
      line-height: 20px;
      color: #2a2a2a;
      font-weight: 300;
      @media (max-width: 999px) {
          width: 500px;
          line-height: 30px;
          font-size: 25px;
      }
      @media (max-width: 767px) {
          font-size: 14px;
          width: 100%;
      }
  }
  a {
      background: black;
      border-radius: 4px;
      padding: 14px 31px;
      color: white;
      line-height: 30px;
      font-size: 20px;
      font-weight: bold;
      width: 275px;
      position: relative;
      transition: all 0.3s ease;
      display: block;
      margin: 20px auto;
      &::before {
          content: "";
          background-image: url(../img/upload.png);
          width: 20px;
          height: 20px;
          position: absolute;
          background-size: cover;
          transform: rotate(273deg);
          top: 0;
          bottom: 0;
          left: 10px;
          margin: auto;
          display: none;
      }
      &:hover {
          background: rgb(34, 34, 34);
          transition: all 0.3s ease;

          &::before {
              display: block;
          }
      }
      @media (max-width: 767px) {
          width: 80%;
          margin-top: 25px;
          font-size: 15px;
      }
  }
  .widget-title {
      margin: 20px 0;
      line-height: 25px;
      @media (max-width: 767px) {
          margin: 10px;
      }
  }
}