.intro {
    background: linear-gradient(-225deg, rgb(220, 241, 255) 0%, rgb(165, 194, 214) 100%);
    height: 615px;
    overflow: hidden;
    @media (max-width: 999px) {
        height: auto;
    }
    @media (max-width: 767px) {
        height: 600px;
    }
    .hero-banner {
        position: relative;
        // max-width: 1440px;
        // padding: 30px 15px 0;
        height: 100%;
        margin: 0 auto;

        // body.rtl & {
        //     direction: ltr;
        // }

        // @media (max-width:999px) {
        //     padding: 40px 15px 0;
        // }

        .item {
            .item-container {
                display: flex;
                justify-content: space-between;
                max-width: 1440px;
                padding: 30px 15px 0;
                margin: 0 auto;
                body.rtl & {
                    flex-direction: row-reverse;
                    @media (max-width: 999px) {
                        flex-direction: column;
                        align-items: center;
                    }
                }

                @media (max-width: 999px) {
                    flex-direction: column;
                    align-items: center;
                }
                .content {
                    display: block;
                    width: 100%;
                    padding-#{$start}: 100px;
                    padding-top: 70px;

                    body.rtl & {
                        direction: rtl;
                    }
                    &.white-text {
                        color: white;
                    }
                    &.black-text {
                        color: black;
                    }
                    @media (max-width: 999px) {
                        padding: 0;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 25px;
                    }

                    .icon {
                        margin-bottom: 20px;
                        width: 100px;
                        height: 100px;
                        @media (max-width: 999px) {
                            display: none;
                        }
                    }
                    h2 {
                        @media (max-width: 767px) {
                            font-size: 15px;
                        }
                    }
                    h3 {
                        font-size: 45px;
                        font-weight: 800;
                        letter-spacing: 0.8px;
                        margin-bottom: 20px;
                        @media (max-width: 999px) {
                            font-size: 38px;
                            margin-bottom: 5px;
                        }
                        @media (max-width: 767px) {
                            font-size: 20px;
                            margin-bottom: 10px;
                            margin-top: 10px;
                        }
                    }
                    p {
                        font-size: 30px;
                        font-weight: 300;
                        letter-spacing: 0.5px;
                        line-height: 45px;
                        @media (max-width: 999px) {
                            font-size: 25px;
                        }
                        @media (max-width: 767px) {
                            font-size: 15px;
                            line-height: initial;
                        }
                    }
                }

                .image {
                    display: inline-block;
                    width: 47%;
                    img{
                        height: auto;
                    }
                    @media (max-width: 999px) {
                        width: 100%;
                        text-align: center;
                        img {
                            margin: 0 auto;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }

        .slick-dots {
            position: absolute;
            bottom: 130px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: 0.5s all ease-in-out;

            body.rtl & {
                flex-direction: row-reverse;
            }

            @media (max-width: 999px) {
                bottom: -1px;
                background-color: #fff;
                height: 50px;
                z-index: 9999;
                padding: 0;
                padding-top: 15px;

            }
            li {
                margin: 0 3px;
                button {
                    text-indent: -9999px;
                    height: 6px;
                    width: 70px;
                    background-color: rgba(65, 66, 65, 0.3);
                    border-radius: 20px;
                    transition: 0.3s all ease-in-out;
                }
                &.slick-active,
                &:hover {
                    button {
                        background-color: #414241;
                    }
                }
            }
            &.active {
                opacity: 1;
            }
        }

        .slick-arrow {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
            // opacity: 0;
            transition: 0.5s all ease-in-out;
            span {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgb(255, 255, 255);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                height: 56px;
                width: 56px;
                border-radius: 50%;
                cursor: pointer;
                z-index: 1;
                transition: 0.2s all ease-in-out;
                i {
                    font-size: 26px;
                    body.rtl & {
                        transform: rotate(180deg);
                    }
                }
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }

            &.prev-arrow {
                #{$start}: 50px;
                @media (max-width: 999px) {
                    #{$start}: -28px;
                    span {
                        padding-#{$start}: 20px;
                    }
                }
            }
            &.next-arrow {
                #{$end}: 50px;
                @media (max-width: 999px) {
                    #{$end}: -28px;
                    span {
                        padding-#{$end}: 20px;
                    }
                }
            }
            &.slick-disabled {
                span {
                    pointer-events: none;
                    opacity: 0.7;
                }
            }
            &.active {
                opacity: 1;
            }
        }
    }
}
