html,body,iframe,header,footer,main,aside,nav,section,article,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,hr,blockquote,pre,figure,figcaption,a,address,del,em,i,img,strong,sub,sup,table,thead,tbody,tfoot,tr,th,td,form,fieldset,legend,label,input,select,textarea,button{vertical-align:baseline;margin:0;padding:0;border:0;outline:none;background:none;font-size:100%;font:inherit;}
html,body,iframe,header,footer,main,aside,nav,section,article,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,hr,blockqoute,pre,figure,figcaption,form,fieldset,legend,label,input,select,textarea,button{display:block;}
html,body{-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;}
dl,dt,dd,ul,ol,li{list-style:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}   