@import 'lang/direction-rtl.scss';

@import 'index';

// /* import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo:400,500,600,700,300,200,100|Roboto+Condensed:700" rel="stylesheet');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:100,200,300,400,500,600,700,800,900');

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Urbanist', sans-serif;
  color: #414241;
  position: relative;
  &.rtl {
    font-family: 'cairo', sans-serif;
    direction: rtl;
    text-align: right;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body.no-scroll{
  overflow: hidden;
}

body{
  overflow-x: hidden;
}

