.page-about {
  .about-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0 104px;
    @media (max-width: 999px) {
      flex-direction: column;
    }
    @media (max-width: 767px) {
      padding: 30px 0 0;
    }
    .content {
      display: inline-block;
      width: 33%;
      @media (max-width: 999px) {
        display: block;
        width: 100%;
        margin-bottom: 50px;
      }
      @media (max-width: 767px) {
        display: none;
      }
      h1 {
        font-size: 42px;
        font-weight: 800;
        letter-spacing: 0.7px;
        line-height: 45px;
        color: #1a1919;
      }
      span {
        display: block;
        font-size: 18px;
        font-weight: 600;
        line-height: 45px;
        color: #1a1919;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.44px;
        line-height: 24px;
        color: #1a1919;
      }
    }
    .title {
      @media (max-width: 767px) {
        display: flex !important;
      }
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 37px;
      img {
        max-width: 30px;
        margin-bottom: 7px;
      }
      h2 {
        font-size: 36px;
        font-weight: 800;
        letter-spacing: 0.6px;
        line-height: 45px;
        margin-bottom: 7px;
      }
      p {
        span{
          img{
            max-width: 100%;
          }
        }
      }
    }
    @media (max-width: 767px) {
      .image {
        position: relative;
        margin-bottom: 26px;
        img {
          position: relative;
          max-width: 100%;
        }
        &::before {
          content: "";
          position: absolute;
          top: -12px;
          bottom: -6px;
          left: 10px;
          right: 10px;
          background: linear-gradient(45deg, #f89524 0%, #ffd42a 100%);
          border-radius: 4px;
        }
      }
    }
    .mobile-content {
      @media (max-width: 767px) {
        display: block !important;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.44px;
        line-height: 28px;
      }
    }
  }

  .about-elements {
    max-width: 744px;
    margin: 0 auto;

    .story {
      @media (max-width: 767px) {
        padding: 0 15px;
        margin-bottom: 40px;
      }
      .title {
        text-align: center;
        margin-bottom: 50px;
        @media (max-width: 767px) {
          margin-bottom: 30px;
        }
        h2 {
          font-size: 36px;
          font-weight: bold;
          letter-spacing: 1px;
          margin-bottom: 5px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 0.5px;
          line-height: 27px;
        }
      }
      .story-tabs {
        transition: 0.4s all ease-in-out;
        .tab {
          position: relative;
          padding: 0 0 30px 0;
          border-bottom: 2px solid #e5ebf1;
          margin: 30px 0;
          cursor: pointer;
          @include transition(0.3s);

          &:last-child {
            border: none;
          }

          @media (max-width: 767px) {
            padding: 0 0 15px 0;
            margin: 15px 0;
          }

          h3 {
            color: #121212;
            font-size: 18px;
            font-weight: bold;
            position: relative;
            display: flex;
            align-items: center;
            @media (max-width: 600px) {
              font-size: 14px;
              padding-right: 20px;
            }
            span {
              display: inline-flex;
              height: 99px;
              width: 99px;
              border-radius: 50%;
              color: #fff;
              font-size: 37px;
              font-weight: 900;
              letter-spacing: 1.03px;
              text-transform: uppercase;
              align-items: flex-end;
              padding-bottom: 10px;
              margin-#{$end}: 32px;
              @media (max-width: 767px) {
                height: 52px;
                width: 52px;
                margin-#{$end}: 10px;
                padding-bottom: 4px;
                font-size: 19.6px;
                letter-spacing: 0.54px;
              }
              &.red {
                background: linear-gradient(45deg, #eb292b 0%, #f8a285 100%);
              }
              &.blue {
                background: linear-gradient(
                  -225deg,
                  rgb(146, 216, 246) 0%,
                  rgb(16, 166, 224) 100%
                );
              }
              &.yellow {
                background: linear-gradient(
                  45deg,
                  rgb(248, 149, 36) 0%,
                  rgb(255, 212, 42) 100%
                );
              }
              &.green {
                background: linear-gradient(
                  -225deg,
                  rgb(207, 226, 139) 0%,
                  rgb(148, 201, 70) 100%
                );
              }
              &.pink {
                background: linear-gradient(
                  45deg,
                  rgb(239, 91, 157) 0%,
                  rgb(243, 145, 187) 100%
                );
              }
              &.purple {
                background: linear-gradient(
                  45deg,
                  rgb(152, 62, 151) 0%,
                  rgb(200, 162, 204) 100%
                );
              }
            }
          }

          .content {
            display: none;
            padding: 30px 35px 0px;
            @media (max-width: 767px) {
              padding: 15px 0 0px;
            }
            .con {
              display: flex;
              align-items: center;
              p {
                color: #121212;
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 0.5px;
                line-height: 28px;
                @media (max-width: 992px) {
                  font-size: 16px;
                }
                @media (max-width: 767px) {
                  font-size: 12px;
                  line-height: 23px;
                }
              }
              .image {
                margin-#{$end}: 30px;
                @media (max-width: 767px) {
                  margin-#{$end}: 10px;
                  img {
                    max-width: 120px;
                  }
                }
              }
            }
          }

          i {
            height: 26px;
            width: 26px;
            line-height: 26px;
            color: #d5d5d5;
            position: absolute;
            text-align: center;
            top: 42px;
            right: 0;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;

            &.hide-ques {
              display: none;
              color: #00a9e7;
            }

            @media (max-width: 767px) {
              top: 20px;
              font-size: 18px;
            }
          }
        }
        @media (max-width: 767px) {
          &.expand {
            max-height: 300px;
            overflow: hidden;
          }
          &.active {
            max-height: 2000px;
          }
        }
      }
      .view-timeline {
        @media (max-width: 767px) {
          display: flex !important;
        }
        i {
          display: none;
          &.open-timeline {
            display: block;
          }
          color: #00a9e7;
          font-weight: bold;
          font-size: 18px;
          margin-#{$end}: 3px;
        }
        position: relative;
        color: #00a9e7;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.39px;
        padding: 20px 0 0;
        margin: 0 -15px;

        &::before {
          content: "";
          position: absolute;
          bottom: 90%;
          left: 0;
          right: 0;
          height: 60px;
          background: linear-gradient(
            -180deg,
            rgba(255, 255, 255, 0.64) 0%,
            white 100%
          );
          transition: .4s all ease-in-out;
        }
        &.active{
            &::before{
                opacity: 0;
            }
        }
      }
    }

    .hearts {
      @media (max-width: 767px) {
        display: block !important;
      }
    }

    .values{
        @media (max-width:767px) {
            display: block !important;
        }
        .title{
            text-align: center;
            margin-bottom: 40px;
            h3{
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 1px;
                margin-bottom: 5px;
            }
            p{
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 0.5px;
                line-height: 27px;
                strong{
                    font-weight: bold;
                }
            }
        }
        .values-elements{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 300px;
            margin: 0 auto;
            li{
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 16px;
                white-space: nowrap;
                font-weight: bold;  
                margin-bottom: 20px; 
                span {
                    display: inline-flex;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 80px;
                    font-weight: 900;
                    letter-spacing: 2.78px;
                    text-transform: uppercase;
                    margin-#{$end}: 24px;
                    padding-#{$start}: 11px;
                    line-height: 137px;
                    &.red {
                        background: linear-gradient(45deg, #eb292b 0%, #f8a285 100%);
                    }
                    &.blue {
                        background: linear-gradient(
                        -225deg,
                        rgb(146, 216, 246) 0%,
                        rgb(16, 166, 224) 100%
                        );
                    }
                    &.yellow {
                        background: linear-gradient(
                        45deg,
                        rgb(248, 149, 36) 0%,
                        rgb(255, 212, 42) 100%
                        );
                    }
                    &.green {
                        background: linear-gradient(
                        -225deg,
                        rgb(207, 226, 139) 0%,
                        rgb(148, 201, 70) 100%
                        );
                    }
                    &.pink {
                        background: linear-gradient(
                        45deg,
                        rgb(239, 91, 157) 0%,
                        rgb(243, 145, 187) 100%
                        );
                    }
                    &.purple {
                        background: linear-gradient(
                        45deg,
                        rgb(152, 62, 151) 0%,
                        rgb(200, 162, 204) 100%
                        );
                    }
                }
            }
        }
        .image{
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 40px 0 50px;
            &::before{
                content: '';
                width: 4px;
                height: 50px;
                display: block;
                background-color: rgb(167 170 172 / 20%);
                margin-bottom: 6px;
            }
            &::after{
                content: '';
                width: 4px;
                height: 50px;
                display: block;
                background-color: rgb(167 170 172 / 20%);
                margin-top: 13px;
            }
            img{
                max-width: 40px;
            }
        }
    }

    .subscription-section {
      @media (max-width: 767px) {
        display: block !important;
      }
    }
  }

}
