.page-news{
    .news-container{
        max-width: 775px;
        margin:0 auto;
        @media (max-width:776px) {
            max-width: 100%;
            padding:0 15px;
        }
        .title{
            padding: 40px 0 55px;
            text-align: center;
            @media (max-width:767px) {
                padding: 30px 0 25px
            }
            h1{
                font-size: 50px;
                font-weight: 800;
                line-height: 69px;
                color: #000;
                @media (max-width:767px) {
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 44px;
                }
            }
            p{
                font-size: 18px;
                color: #000000;
                @media (max-width:767px) {
                    font-size: 16px;
                    font-weight: 300;
                    letter-spacing: 0.44px;
                    color: #414241;
                }
            }
        }
        .news-list{
            text-align: #{$start};
            .item{
                display: block;
                width: 100%;
                padding-bottom: 50px;
                margin-bottom: 50px;
                border-bottom: 7px solid rgb(152 62 151 / 10%);
                @media (max-width:767px) {
                    padding-bottom: 25px;
                    margin-bottom: 25px;
                    border-bottom: 3px solid rgba(152, 62, 151, 0.1);
                }
                &:last-child{
                    border-bottom: none;
                }
                a{
                    display: block;
                    &.image{
                        font-size: 0;
                        margin-bottom: 23px;
                        img{
                            max-width: 100%;
                        }
                    }
                    &.news-title{
                        font-size: 24px;
                        line-height: 27px;
                        font-weight: bold;
                        margin-bottom: 20px;
                        @media (max-width:767px) {
                            font-size: 20px;
                            line-height: 25px;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
                        &:hover{
                            text-decoration: underline;
                        }                        
                    }
                }
                span{
                    display: block;
                    font-size: 13px;
                    color: #983e97;
                }
            }
        }
        @keyframes rotate{
            0%{
                transform: rotate(0);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        .loader{
            display: block;
            text-align: center;
            margin: 60px 0 30px;
            transition: .3s all ease-in-out;
            animation: rotate 1.1s linear infinite; 
                       
            img{
                max-width: 30px;
            }
        }
    }
    &.single-news{
        .page-title{
            max-width: 683px;
            margin: 60px auto 28px;
            span{
                display: block;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: #505050;
            }
            h1{
                font-size: 32px;
                font-weight: bold;
                color: #000000; 
                @media (max-width:767px) {
                    font-size: 21px;
                }               
            }
            @media (max-width:767px) {
                max-width: 100%;
                padding:0 15px;
            }
        }

        .page-intro{
            text-align: center;
            font-size: 0;
            margin-bottom: 45px;
            @media (max-width:767px) {
                margin-bottom: 25px;
            }
            img{
                max-width: 100%;
            }
        }


        .content{
            max-width: 683px;
            margin: 0 auto 68px;
            @media (max-width:767px) {
                max-width: 100%;
                padding:0 15px;
                margin: 0 auto 40px;
            }
            p{
                font-size: 16px;
                color: #000;
                line-height: 31px;
                margin-bottom: 30px;
                @media (max-width:767px) {
                    font-size: 14px;
                    line-height: 28px;
                }
            }

            ul{
                li{
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    font-size: 16px;
                    color: #000;
                    margin-bottom: 30px;
                    @media (max-width:767px) {
                        align-items: flex-start;
                        font-size: 14px;
                        line-height: 23px;
                        margin-bottom: 15px;
                    }
                    &::before{
                        content: '';
                        display: inline-block;
                        background: rgb(0, 169, 231);
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        margin-#{$end}:10px;
                        @media (max-width:767px) {
                            height: 10px;
                            width: 15px;
                            margin-top: 7px;
                        }
                    }
                }
            }

            iframe{
                display: block;
                width: 100%;
                margin: 0 0 20px 0;
                @media (max-width:767px) {
                    margin: 20px 0;
                }
            }
        }



        .news-container{
            h4{
                font-size: 28px;
                font-weight: bold;
                color: #000000;
                margin-bottom: 20px;
            }
        }
    }



}

