.shop-page {
  .page-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 20px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 10px 0 20px;
    }

    .title {
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
      span {
        display: block;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.56px;
      }
      h1 {
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    .shop-filter {
      display: flex;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        margin-#{$start}: 20px;
        @media (max-width: 767px) {
          margin-#{$start}: 0px;
          margin-#{$end}: 20px;
        }
      }

      [type="checkbox"] + label {
        padding-#{$start}: 25px;
        display: block;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: #414241;
        cursor: pointer;
        position: relative;
        line-height: 21px;
      }

      [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position: absolute;
        #{$end}: -9999px;
        display: none;
      }

      [type="checkbox"].filled-in + label:before,
      [type="checkbox"].filled-in + label:after {
        content: "";
        #{$start}: 0;
        position: absolute;
        transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
          height 0.2s 0.1s, top 0.2s 0.1s, #{$start} 0.2s 0.1s;
        z-index: 1;
      }

      [type="checkbox"].filled-in:not(:checked) + label:before {
        border: 2px solid transparent;
        transform: rotateZ(40deg);
        transform-origin: 100% 100%;
        right: 10px;
        top: 2px;
        width: 5px;
        height: 10px;
        body.ltr & {
          transform: rotateZ(45deg);
        }
      }

      [type="checkbox"].filled-in:not(:checked) + label:after {
        height: 15px;
        width: 15px;
        background-color: transparent;
        border: 2px solid #414241;
        top: 1px;
        z-index: 0;
      }

      [type="checkbox"].filled-in + label:after {
        border-radius: 2px;
      }

      [type="checkbox"].filled-in:checked + label:before {
        top: 2px;
        width: 5px;
        height: 10px;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotateZ(40deg);
        transform-origin: 100% 100%;
        z-index: 999;
        right: 12px;
        body.ltr & {
          right: auto;
          transform: rotateZ(45deg);
          left: 0;
        }
      }

      [type="checkbox"].filled-in:checked + label:after {
        top: 1px;
        height: 15px;
        width: 15px;
        background-color: #414241;
        border: 2px solid #414241;
        box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .products-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    @media (max-width:767px) {
        margin-bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fff;

      @media (max-width: 999px) {
        height: 5px;
        bottom: -1px;
      }
      @media (max-width: 767px) {
        height: 100%;
        top: 0;
        right: 0;
        left: auto;
        width: 1px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10px;
      background-color: #fff;
    }
    .col {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(100% / 4);
      padding: 44px 0 33px;
      border-right: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      &:nth-child(4n + 4) {
        border-right: none;
      }

      .image {
        margin-bottom: 30px;
        @media (max-width:767px) {
            margin-bottom: 22px;
        }
      }

      &.description {
        background-color: #f8f8f8;
        padding: 0;
        p {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.44px;
          line-height: 28px;
          padding: 55px 30px;
          @media (max-width:767px) {
            padding: 25px 18px;
          }
        }

        @media (max-width: 767px) {
          position: relative;
          display: block;
          width: 100vw;
          border: none;
          margin: 0 -15px 45px;
        }
      }

      @media (max-width: 999px) {
        width: calc(100% / 3);
        &:nth-child(4n + 4) {
          border-right: 1px solid #e8e8e8;
        }
        &:nth-child(3n + 3) {
          border-right: none;
        }
      }

      @media (max-width: 767px) {
        width: calc(100% / 2);
        border-top: none;
        border-bottom: 1px solid #e8e8e8;
        padding: 40px 0;
        &:nth-child(3n + 3) {
          border-right: 1px solid #e8e8e8;
        }
      }
    }
  }
}
