.single-brand{

    .single-brand-banner{
        font-size: 0;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 50%;
        background-color: #2fa1d7;
        @media (max-width:999px) {
            background-position: center top;
            background-size: 100%;
            padding-top: 50%;
        }
        @media (max-width:767px) {
            padding-top: 70%;
        }
        .content{
            width: 50%;
            height: 490px;
            position: relative;
            background: rgb(23, 161, 215);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            @media (max-width:1200px) {
                width: 60%;
                height: 330px;
                padding-#{$end}: 70px;
            }
            @media (max-width:999px) {
                width: 100vw;
                height: auto;
                padding: 20px 30px 50px;
                margin: 0 -15px;
            }
            @media (max-width:767px) {
                padding: 20px 15px 40px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                #{$end}: -150px;
                width: 190px;
                background-image: url(../images/wave2.png);
                background-repeat: no-repeat;
                @media (max-width:999px) {
                    right: 0;
                    left: 0;
                    top: auto;
                    bottom: 100%;
                    margin-bottom: -55px;
                    transform: rotate(
                270deg);
                    height: 100vw;
                    width: 100%;
                    background-size: contain;
                }

                @media (max-width:767px) {
                    margin-bottom: -15px;
                }
            }
            img{
                display: block;
                margin-bottom: 15px;
                @media (max-width: 1200px) {
                    max-width: 50px;
                }
            }
            h1{
                font-size: 42px;
                font-weight: 800;
                letter-spacing: 0.7px;
                line-height: 45px;
                color: #fff;
                @media (max-width:767px) {
                    margin-bottom: 6px;
                }   
            }
            span{
                display: block;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.3px;
                line-height: 45px;
                color: #fff;  
                @media (max-width:767px) {
                    line-height: 28px;
                    margin-bottom: 6px;
                }              
            }
            p{
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.44px;
                line-height: 28px; 
                color: #fff;                
            }
        }
    }

    .brand-content{
        @media (max-width:767px) {
            padding-top: 90px;
        }
        .title{
            padding: 73px 0 110px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media (max-width:767px) {
                display: none;
            }
            img{
                display: block;
                margin-bottom: 17px;
            }
            span{
                display: block;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.27px;
                margin-bottom: 7px;
            }
            h2{
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 1px;
                margin-bottom: 9px;
            }
            p{
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.44px;
                line-height: 28px;
                color: #000;
                width: 60%;
                margin: 0 auto;
                text-align: center;
                @media (max-width:767px) {
                    width: 100%;
                }
            }
        }
        .brand-products-container{
            max-width: 950px;
            margin: 0 auto;
            @media (max-width:999px) {
                max-width: 100%;
            }
            .product-row{
                display: flex;
                align-items: center;
                margin-bottom: 100px;
                .content{
                    padding-#{$start}: 170px;
                    @media (max-width:999px) {
                        padding-#{$start}: 50px;
                    }
                    @media (max-width:767px) {
                        padding-#{$start}: 0;
                    }
                    h3{
                        font-size: 24px;
                        font-weight: bold;
                        letter-spacing: 0.67px;
                        margin-bottom: 4px;
                    }
                    p{
                        font-size: 16px;
                        font-weight: 300;
                        letter-spacing: 0.44px;
                        line-height: 28px;
                        margin-bottom: 40px;
                        @media (max-width:767px) {
                            margin-bottom: 11px;
                        }
                    }
                    strong{
                        @media (max-width:767px) {
                            display: block !important;
                        }
                        margin-bottom: 20px;
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: 0.44px;
                        line-height: 28px;
                        color: #00a9e7;
                    }
                    a{
                        display: table;
                        background: linear-gradient(-225deg, rgb(146 216 246 / 20%) 0%, rgb(16 166 224 / 21%) 100%);
                        border-radius: 5px;
                        line-height: 40px;
                        text-align: center;
                        padding: 0 65px;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 0.39px;
                        color: #00a9e7;
                        &:hover{
                            background: linear-gradient(-225deg, rgb(146 216 246 / 30%) 0%, rgb(16 166 224 / 30%) 100%);
                        }
                    }
                }
                &.flip{
                    flex-direction: row-reverse;
                    .content{
                        padding-#{$start}: 0;
                        padding-#{$end}: 170px;
                        @media (max-width:999px) {
                            padding-#{$end}: 50px;
                        }
                        @media (max-width:767px) {
                            padding-#{$end}: 0;
                        }
                    }
                }
                @media (max-width:767px) {
                    flex-direction: column !important;
                }
            }
        }
    }

    .brand-slider{
        position: relative;
        height: 500px;
        margin-bottom: 100px;

        @media (max-width:999px) {
            height: 270px;
        }

        .slick-list{
            height: 100%;
            .slick-track{
                height: 100%;
            }
        }

        .item{
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @media (max-width:999px) {
                background-size: contain;
            }
            @media (max-width:767px) {
                background-size: cover;
                background-position: center;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgb(0 0 0 / 55%);
                z-index: 0;
            }
            h4{
                position: relative;
                font-size: 48px;
                font-weight: 800;
                letter-spacing: 0.8px;
                line-height: 45px;
                margin-bottom: 18px;
                color: #fff;
                @media (max-width:999px) {
                    font-size: 38px;
                    line-height: 33px;
                    margin-bottom: 10px;
                }
                @media (max-width:767px) {
                    font-size: 28px;
                    margin-bottom: 5px;
                }
            }
            p{
                position: relative;
                font-size: 30px;
                font-weight: 300;
                letter-spacing: 0.5px;
                line-height: 45px;
                color: #fff;   
                @media (max-width:999px) {
                    font-size: 20px;
                    line-height: 33px;
                }  
                @media (max-width:767px) {
                    font-size: 18px;
                }           
            }
        }

        .slick-dots{
            position: relative;
            position: absolute;
            bottom: 40px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width:1200px) {
                bottom: 70px;
            }

            @media (max-width:999px) {
                bottom: 35px;
            }
            li{
                margin: 0 3px;
                button{
                    text-indent: -9999px;
                    height: 6px;
                    width: 70px;
                    background-color: rgba(65, 66, 65, 0.3);
                    border-radius: 20px;
                    transition: 0.3s all ease-in-out;
                    @media (max-width:767px) {
                        height: 4px;
                        width: 45px;                        
                    }
                }
                &.slick-active,&:hover{
                    button{
                        background-color: #fff;
                    }
                }
            }
        }

        .slick-arrow{
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
            @media (max-width:1200px) {
                display: none !important;
            }
            span{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgb(255, 255, 255);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                height: 56px;
                width: 56px;
                border-radius: 50%;
                cursor: pointer;
                z-index: 1;
                transition: .2s all ease-in-out;
                i{
                    font-size: 26px;
                }
                &:hover{
                    background-color: #00a9e7;
                    color: #fff;
                }
            }

            &.prev-arrow{
                #{$start}: calc(50% - (1280px / 2));
            }
            &.next-arrow{
                #{$end}: calc(50% - (1280px / 2));
                @media (max-width:1200px) {
                    display: none;
                }
            }
            &.slick-disabled{
                span{
                    pointer-events: none;
                    opacity: .7;
                }

            }

        }

    }
}