.page-stores {
  padding-top: 80px;
  @media (max-width:767px) {
    padding-top: 30px; 
  }
  .stores {
    .title {
      text-align: center;
      margin-bottom: 35px;
      h1 {
        color: #000;
        font-size: 50px;
        font-weight: 800;
        line-height: 69px;
        @media (max-width: 767px) {
          font-size: 30px;
          line-height: 44px;
        }
      }
      p {
        color: #000;
        font-size: 18px;
        @media (max-width: 767px) {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.44px;
          line-height: 25px;
        }
      }
    }
    .widgets-con {
      display: flex;
      justify-content: center;
      .col {
        margin: 0 10px;
        background: white;
        border-radius: 10.5px;
        box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 20%);
        min-width: 311px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 0;
        padding: 15px 0;
        span {
          display: block;
          font-size: 23px;
          letter-spacing: 0.64px;
          color: #414241;
          @media (max-width: 767px) {
            font-size: 14px;
            letter-spacing: 0.39px;
          }
        }
        @media (max-width: 767px) {
          width: calc(100% / 2);
          min-width: auto;
          margin: 0 7px;
          img {
            max-width: 80px;
          }
        }
      }
      &.online-store {
        @media (max-width: 999px) {
          flex-direction: column;
        }
        .col {
          @media (max-width: 999px) {
            width: 100%;
            margin: 0 0 20px;
          }
          span {
            margin-bottom: 6px;
          }
          img {
            @media (max-width: 767px) {
              max-width: 100px;
            }
          }
        }
      }
    }
    .logos-con {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      font-size: 0;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #fff;
        @media (max-width: 999px) {
          top: -1px;
          height: 3px;
        }
      }
      .logo-col {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 6);
        border-top: 1px solid rgb(151 151 151 / 43%);
        border-right: 1px solid rgb(151 151 151 / 43%);
        padding: 25px 0;
        &:nth-child(6),
        &:last-child {
          border-right: none;
        }

        @media (max-width: 999px) {
          width: calc(100% / 4);
          &:nth-child(6) {
            border-right: 1px solid rgb(151 151 151 / 43%);
          }
          &:nth-child(4n + 4) {
            border-right: none;
          }
        }

        @media (max-width:767px) {
            width: calc(100% / 2);
            &:nth-child(4n + 4) {
                border-right: 1px solid rgb(151 151 151 / 43%);
              }
              &:nth-child(2n + 2) {
                border-right: none;
              }
        }

        .image {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .dec-sep {
    margin: 70px 0 40px;
    text-align: center;
    @media (max-width: 767px) {
      margin: 40px 0;
    }
    img {
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }
  .stores-map {
    text-align: center;
    margin: 60px 0;
    @media (max-width:767px) {
        margin: 30px -15px;
    }
    img {
      max-width: 100%;
    }
  }
}
