.single-product {

  .page-title {
    padding: 60px 0 30px;
    text-align: center;
    a {
      color: #00a9e7;
      font-size: 16px;
      font-weight: 300;
      &:hover {
        text-decoration: underline;
      }
    }
    h1 {
      font-size: 46px;
      font-weight: 800;
      line-height: 45px;
      color: #1a1919;
      margin-top: 14px;
    }
  }

  .product-banner {
    background: linear-gradient(
      -180deg,
      rgb(0, 212, 245) 0%,
      rgb(101, 119, 191) 100%
    );
    border-radius: 4px;
    height: 463px;
    @media (max-width: 999px) {
      height: auto;
    }
    .product-banner-gallery {
      position: relative;
      max-width: 1440px;
      padding: 0 15px 0;
      height: 100%;
      margin: 0 auto;

      @media (max-width: 999px) {
        padding: 40px 15px 0;
      }

      .slick-list {
        padding-top: 50px;
      }

      .item {
        .item-container {
          display: flex;
          @media (max-width: 999px) {
            flex-direction: column;
            align-items: center;
          }
          .content {
            display: block;
            width: 50%;
            padding-#{$start}: 150px;
            padding-top: 100px;
            padding-#{$end}: 50px;
            @media (max-width: 999px) {
              padding: 0;
              width: 100%;
              text-align: center;
              margin-bottom: 45px;
            }
            h3 {
              color: #fff;
              font-size: 40px;
              line-height: 53px;
              margin-bottom: 10px;
              @media (max-width: 999px) {
                font-size: 38px;
                margin-bottom: 5px;
              }
              @media (max-width: 767px) {
                font-size: 28px;
                margin-bottom: 15px;
              }
            }
            p {
              color: #fff;
              font-size: 22px;
              font-weight: 300;
              letter-spacing: 0.61px;
              line-height: 43px;
              @media (max-width: 999px) {
                font-size: 25px;
              }
              @media (max-width: 767px) {
                font-size: 15px;
                line-height: initial;
              }
            }
          }

          .image {
            display: inline-block;
            position: relative;
            height: 456px;
            width: 400px;
            span {
              position: relative;
              position: absolute;
              top: 0;
              right: 0;
              background: linear-gradient(
                45deg,
                rgb(235, 41, 43) 0%,
                rgb(248, 162, 133) 100%
              );
              box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.19);
              height: 42px;
              width: 42px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 18px;
              font-weight: 800;
              color: #fff;
              letter-spacing: 0.5px;
              z-index: 1;
              &::before {
                content: "";
                position: absolute;
                background: linear-gradient(
                  45deg,
                  rgb(235, 41, 43) 0%,
                  rgb(248, 162, 133) 100%
                );
                height: 65px;
                width: 65px;
                border-radius: 50%;
                opacity: 0.6;
                z-index: -1;
              }
              &::after {
                content: "";
                position: absolute;
                background: linear-gradient(
                  45deg,
                  rgb(235, 41, 43) 0%,
                  rgb(248, 162, 133) 100%
                );
                height: 88px;
                width: 88px;
                border-radius: 50%;
                opacity: 0.2;
                z-index: -2;
                animation: flashing 1s linear infinite alternate;
              }
            }
            @media (max-width: 999px) {
              width: 100%;
              text-align: center;
              img {
                margin: 0 auto;
                max-width: 100%;
              }
            }
          }
        }
      }

      .slick-dots {
        position: absolute;
        bottom: 60px;
        #{$start}: 165px;
        #{$end}: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 999px) {
          bottom: -1px;
          background-color: #fff;
          height: 50px;
          z-index: 9999999;
          padding-top: 15px;
        }
        li {
          margin: 0 2.5px;
          button {
            font-size: 14.49px;
            font-weight: 800;
            border-radius: 2px;
            height: 22px;
            width: 21px;
            background-color: #ffffff;
            transition: 0.3s all ease-in-out;
            color: #414241;
            opacity: 0.4;
          }
          &.slick-active,
          &:hover {
            button {
              background-color: #ffffff;
              opacity: 0.8;
            }
          }
        }
      }

      .slick-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        span {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgb(255, 255, 255);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          height: 56px;
          width: 56px;
          border-radius: 50%;
          cursor: pointer;
          z-index: 1;
          transition: 0.2s all ease-in-out;
          i {
            font-size: 26px;
          }
          &:hover {
            background-color: #00a9e7;
            color: #fff;
          }
        }

        &.prev-arrow {
          #{$start}: 50px;
          @media (max-width: 999px) {
            #{$start}: -28px;
            span {
              padding-#{$start}: 20px;
            }
          }
        }
        &.next-arrow {
          #{$end}: 50px;
          @media (max-width: 999px) {
            #{$end}: -28px;
            span {
              padding-#{$end}: 20px;
            }
          }
        }
        &.slick-disabled {
          span {
            pointer-events: none;
            opacity: 0.7;
          }
        }
      }
    }
  }

  .center-products {
    padding: 100px 0 70px;
    max-width: 1039px;
    margin: 0 auto;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      .content {
        display: inline-block;
        width: 60%;
        padding: 0 50px;
        span {
          display: block;
          font-size: 22px;
          font-weight: 500;
          letter-spacing: 0.61px;
          line-height: 43px;
          color: #000;
        }
        p {
          font-size: 30px;
          font-weight: 800;
          letter-spacing: 0.83px;
          line-height: 43px;
          color: #000;
        }
      }

      &.flip {
        flex-direction: row-reverse;
      }
    }
  }

  .product-banners {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 497px 246px 497px;
    grid-template-rows: 294px 294px;
    .image {
      font-size: 0;
      &:nth-child(3) {
        grid-column-start: 2;
        grid-row-start: 2;
      }
      img {
        border-radius: 4px;
      }
    }
  }

  .single-product-con {
    margin-top: 50px;
    display: flex;
    .left {
      display: inline-block;
      width: 750px;
      .product-slider-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        border-radius: 4px;
        border: 1px solid rgb(241, 241, 241);
        padding: 20px;
        .product-slider {
          position: relative;
          display: block;
          width: calc(100% - 90px);
          text-align: left;
          @include transition(0.3s);

          @media (max-width: 999px) {
            width: 100%;
          }

          @media (max-width: 600px) {
            margin-bottom: 10px;
          }
          .slide-item {
            img {
              object-fit: contain;
              // width: 100%;
              // border-radius: 4px;
              height: auto;
              @media (max-width: 600px) {
                height: 100%;
                object-fit: cover;
              }
            }
          }

          .slick-list {
            width: 100%;
            height: 100%;
            .slick-track {
              width: 100% !important;
              height: 100%;
              .slide-item {
                opacity: 0 !important;
                width: 100% !important;
                height: 100%;
                position: absolute !important;
                top: 0 !important;
                #{$end}: 0 !important;
                #{$start}: 0 !important;
                background-position: center center;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                  position: absolute;
                  width: 80px;
                  height: 80px;
                  background-color: #c4278d;
                  bottom: 0;
                  #{$end}: 0;
                  text-align: center;
                  line-height: 128px;
                  padding-#{$end}: 7px;
                  cursor: pointer;
                  pointer-events: none;
                  opacity: 0;
                  @include transition(0.3s);

                  i {
                    color: #fff;
                    font-size: 50px;
                  }
                  &:hover {
                    background-color: blueDark;
                  }

                  @media (max-width: 992px) {
                    opacity: 1;
                    pointer-events: auto;
                    width: 60px;
                    height: 60px;
                    line-height: 85px;
                    i {
                      font-size: 30px;
                    }
                  }
                  @media (max-width: 600px) {
                    display: none;
                  }
                }
                img {
                  object-fit: contain;
                  // width: 100%;
                  // border-radius: 4px;
                  height: auto;
                  @media (max-width: 600px) {
                    height: 100%;
                    object-fit: cover;
                  }
                }
                &.slick-slide {
                  &.slick-current {
                    opacity: 1 !important;
                  }
                }
              }
            }
          }

          &:hover {
            .icon {
              opacity: 1 !important;
              pointer-events: auto !important;
            }
          }

          .slick-arrow {
            display: none !important;
            @media (max-width: 999px) {
              display: block !important;
            }
          }

          .next-arrow {
            #{$start}: -10px;
            height: 60px;
            width: 40px;
            background: white;
            border-radius: 4px 0px 0px 4px;
            border: 1px solid rgb(203, 204, 208);
            border-#{$start}: none;
            box-shadow: -5px 0px 10px 0px rgb(185 183 183 / 25%);
            position: absolute;
            top: 40%;
            opacity: 0;
            pointer-events: none;
            cursor: pointer;

            @media (max-width: 767px) {
              #{$start}: 0px;
            }

            body.ltr & {
              border-radius: 0px 4px 4px 0px;
            }

            span {
              display: block;
              position: relative;
              &::before {
                content: "chevron_right";
                font-family: "Material Icons";
                position: absolute;
                top: 16px;
                #{$end}: 7px;
                font-size: 25px;
                font-weight: 100;
                color: #000;
                body.ltr & {
                  content: "chevron_left";
                }
              }
            }

            &:hover {
              background-color: #121212;
              border: 1px solid #121212;
              border-#{$start}: none;
              span {
                &::before {
                  color: #fff;
                }
              }
            }

            // @media (max-width:767px){
            //   display: none !important;
            // }
          }

          .prev-arrow {
            #{$end}: -10px;
            height: 60px;
            width: 40px;
            background: rgb(255, 255, 255);
            border-radius: 0px 4px 4px 0px;
            border: 1px solid rgb(203, 204, 208);
            border-#{$end}: none;
            box-shadow: 5px 0px 10px 0px rgb(185 183 183 / 25%);
            position: absolute;
            top: 40%;
            cursor: pointer;
            z-index: 1;
            opacity: 0;
            pointer-events: none;

            @media (max-width: 767px) {
              #{$end}: 0px;
            }
            body.ltr & {
              border-radius: 4px 0px 0px 4px;
            }
            span {
              display: block;
              position: relative;
              &::before {
                content: "chevron_left";
                font-family: "Material Icons";
                position: absolute;
                top: 16px;
                #{$end}: 7px;
                font-size: 25px;
                font-weight: 100;
                color: #000;
                body.ltr & {
                  content: "chevron_right";
                }
              }
            }
            &:hover {
              background-color: #121212;
              border: 1px solid #121212;
              border-#{$end}: none;
              span {
                &::before {
                  color: #fff;
                }
              }
            }
            // @media (max-width:767px){
            //   display: none !important;
            // }
          }

          .slick-dots {
            display: none !important;
            @media (max-width: 999px) {
              display: block !important;
              bottom: 10px;
              li button:before {
                font-size: 52px;
              }
              li.slick-active button:before {
                opacity: 1;
              }
              li:only-child {
                display: none;
              }
            }

            @media (max-width: 767px) {
              li {
                margin: 0 2px;
              }
              li button:before {
                font-size: 40px;
              }
            }
          }

          & > .slide-item:not(:first-child) {
            display: none !important;
          }

          &.active {
            // opacity: 1;
            & > .slide-item:not(:first-child) {
              display: block !important;
            }
            .next-arrow,
            .prev-arrow {
              opacity: 1;
              pointer-events: auto;
            }
          }
        }

        .slider-nav {
          position: relative;
          display: inline-block;
          width: 90px;
          padding-top: 15px;
          margin-#{$end}: 10px;
          @media (max-width: 992px) {
            display: none;
          }
          @media (max-width: 600px) {
            margin-bottom: 0;
          }
          .slick-slide {
            width: 100% !important;
            height: 90px !important;
            margin-bottom: 10px;
            border-radius: 2px;
            border: 1px solid rgb(238, 238, 238);
            cursor: pointer;
            @include transition(0.3s);
            opacity: 0.3;
            @media (max-width: 992px) {
              width: 64px !important;
              margin-#{$start}: 7px;
            }
            @media (max-width: 600px) {
              width: 47px !important;
              height: 47px !important;
              margin-#{$start}: 10px;
            }
            img {
              display: block;
              width: 100% !important;
              height: 100%;
              border-radius: 2px;
            }
            &.slick-current {
              opacity: 1;
            }
            &:hover {
              opacity: 1;
            }
          }
          .slick-list {
            position: relative;
            padding: 0 !important;
          }
          .slick-arrow {
            position: absolute;
            left: 0;
            right: 0;
            transform: translate(0, 0) !important;
            margin: 0 auto;
            width: 100%;
            font-size: 0;
            visibility: hidden;
            &.slick-disabled {
              pointer-events: none;
              opacity: 0.2;
            }
          }

          .slick-prev {
            top: -8px;
            &::before {
              content: "expand_less";
              @include MaterialFamily;
              color: #000 !important;
              opacity: 1;
              font-size: 22px;
              visibility: visible;
            }
          }

          .slick-next {
            top: calc(100% - 8px);
            &::before {
              content: "expand_more";
              @include MaterialFamily;
              color: #000 !important;
              opacity: 1;
              font-size: 22px;
              visibility: visible;
            }
          }

          & > .product-thumb:not(:nth-child(-n + 6)) {
            display: none !important;
          }

          &.active {
            & > .product-thumb:not(:nth-child(-n + 6)) {
              display: block !important;
            }
          }
        }
      }

      .vidoes-section {
        margin: 20px 0 30px;
        .video {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
          .video-layer {
            position: relative;
            height: 421px;
            cursor: pointer;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              background-color: #000000;
              border-radius: 4px;
              opacity: 0.5;
            }
            span {
              height: 60px;
              width: 60px;
              background-color: #fff;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              cursor: pointer;
              i {
                font-size: 38px;
                color: rgb(0 0 0 / 50%);
              }
            }
          }
        }
      }

      .reviews-info-tabs {
        border-radius: 4px;
        border: 1px solid rgb(224, 221, 221);
        padding: 30px;
        .tabs {
          display: flex;
          align-items: center;
          li {
            display: inline-block;
            position: relative;
            margin-#{$end}: 30px;
            cursor: pointer;
            span {
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 0.44px;
              color: #a6a6a6;
            }
            &.active,
            &:hover {
              span {
                color: #00a9e7;
              }
              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 10px;
                background: rgba(0, 169, 231, 0.1);
              }
            }
          }
        }
        .content {
          .product-info {
            margin: 45px 0;
            padding-#{$end}: 180px;
            h4 {
              font-size: 24px;
              font-weight: bold;
              letter-spacing: 0.67px;
              margin-bottom: 10px;
            }
            p {
              font-size: 16px;
              font-weight: 300;
              letter-spacing: 0.44px;
              line-height: 28px;
            }
          }
          .review-section {
            background-color: #fff;
            width: 635px;
            padding: 35px 47px;
            text-align: center;
            @media (max-width: 600px) {
              min-width: 100%;
              width: 100%;
              padding: 35px 15px;
            }
            .comments-container {
              display: flex;
              justify-content: center;
              flex-direction: column;

              .right {
                width: 100%;
                margin-bottom: 30px;
                .reviews-box {
                  position: relative;
                  width: 100%;
                  padding: 20px 20px 30px;
                  @media (max-width: 600px) {
                    padding: 20px 0px 30px;
                  }
                  &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100px;
                    height: 2px;
                    margin: 0 auto;
                    background-color: #f6daef;
                  }
                  .top {
                    padding-bottom: 10px;
                    h5 {
                      font-size: 24px;
                      font-weight: bold;
                      color: rgba(0, 0, 0, 0.85);
                      margin-bottom: 6px;
                      @media (max-width: 600px) {
                      }
                    }
                    h6 {
                      position: relative;
                      font-size: 16px;
                      font-weight: 600;
                      letter-spacing: 0.47px;
                      line-height: 36px;
                      padding-bottom: 15px;
                      margin-bottom: 20px;
                      @media (max-width: 600px) {
                        font-size: 14px;
                        letter-spacing: 0;
                      }
                      &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100px;
                        height: 2px;
                        margin: 0 auto;
                        background-color: #f6daef;
                      }
                    }
                  }
                  .bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 65%;
                    margin: 0 auto;
                    @media (max-width: 600px) {
                      width: 100%;
                    }
                    .right {
                      width: auto;
                      margin: 0;
                      display: flex;
                      flex-direction: column;
                      border: none;
                      b {
                        font-size: 14px;
                        color: #000000;
                        font-weight: 600 !important;
                        margin-bottom: 10px;
                      }
                      .stars {
                        display: flex;
                        align-items: center;
                        margin-bottom: 6px;
                        span {
                          display: inline-block;
                          &::before {
                            content: "star_outline";
                            @include MaterialFamily;
                            font-weight: 400;
                            font-size: 24px;
                            color: #b74372;
                          }
                          &.active {
                            &::before {
                              content: "star";
                              font-size: 24px;
                              color: #b74372;
                            }
                          }
                        }
                      }
                      p {
                        font-size: 12px;
                        font-weight: 600;
                      }
                    }
                    ul {
                      min-width: 130px;
                      li {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 10px;
                        &:last-child {
                          margin-bottom: 0;
                        }
                        span {
                          display: inline-block;
                          font-size: 9px;
                          color: #000000;
                          white-space: nowrap;
                        }
                        p {
                          position: relative;
                          display: inline-block;
                          width: 68%;
                          margin: 0 5px;
                          background: #f6daef;
                          height: 5px;

                          b {
                            position: absolute;
                            #{$start}: 0;
                            top: 0;
                            bottom: 0;
                            text-indent: -99999px;
                            background: linear-gradient(
                              -180deg,
                              rgb(226, 92, 147) 0%,
                              rgb(183, 67, 114) 100%
                            );
                          }
                        }
                      }
                    }
                  }
                }
                .checkout-login {
                  display: block;
                  width: 100%;
                  margin-top: 22px;
                  line-height: 44px;
                  text-align: center;
                  color: #fff;
                  font-size: 16px;
                  font-weight: bold;
                  cursor: pointer;
                  background-color: #000;
                  border-radius: 4px;
                }

                &.not-logged {
                  margin-bottom: 0;

                  .reviews-box {
                    padding: 0;
                    &::before {
                      display: none;
                    }
                    .top {
                      padding-bottom: 0;
                    }
                    p.woocommerce-noreviews {
                      font-size: 16px;
                      font-weight: 600;
                      letter-spacing: 0.47px;
                      line-height: 27px;
                      color: rgb(0 0 0 / 40%);
                    }
                  }

                  .checkout-login {
                    max-width: 228px;
                    margin: 16px auto 0;
                    line-height: 38px;
                  }
                }

                &.no-rev {
                  margin-bottom: 0;
                  .reviews-box {
                    padding: 0;
                    &::before {
                      display: none;
                    }
                  }
                }
              }
              .left {
                h3 {
                  margin-bottom: 20px;
                }

                .woocommerce-Reviews {
                  display: flex;
                  flex-direction: column-reverse;

                  h5.woocommerce-Reviews-title {
                    font-size: 12px;
                    font-weight: 600;
                    color: #121212;
                    margin-bottom: 8px;
                  }

                  #review_form_wrapper {
                    position: relative;
                    .spinner {
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      right: 0;
                      left: 0;
                      background-color: rgb(255 255 255 / 64%);
                      align-items: center;
                      justify-content: center;
                      .double-bounce1,
                      .double-bounce2 {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgb(183 68 114 / 48%);
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        margin: 0 auto;
                      }
                    }
                    .comment-respond {
                      .comment-reply-title {
                        display: none;
                      }
                      p.must-log-in,
                      p.comment-notes {
                        display: none;
                      }
                      .comment-form {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        p {
                          margin-bottom: 20px;
                          text-align: #{$start};
                          &.comment-form-comment {
                            display: block;
                            width: 100%;
                            order: 3;
                          }
                          &.comment-form-author {
                            display: inline-block;
                            width: 49%;
                            order: 1;
                          }
                          &.comment-form-email {
                            display: inline-block;
                            width: 49%;
                            order: 2;
                          }
                          &.form-submit {
                            display: block;
                            width: 100%;
                            order: 4;
                          }
                          label {
                            text-align: #{$start};
                            span {
                              display: none;
                            }
                            font-size: 12px;
                            font-weight: 600;
                            color: #121212;
                            margin-bottom: 8px;
                            &[for="comment"] {
                              visibility: hidden;
                              &::before {
                                content: "آترك التقييم";
                                visibility: visible;
                                body.ltr & {
                                  content: "Leave a review";
                                }
                              }
                            }
                          }
                          input {
                            font-size: 12px;
                            font-weight: bold;
                            background: rgb(246, 248, 250);
                            border-radius: 2px;
                            border: 1px solid rgb(193, 201, 210);
                            width: 100%;
                            height: 40px;
                            &[type="submit"] {
                              background: #000000;
                              color: #fff;
                              height: 37px;
                              line-height: 35px;
                              max-width: 175px;
                              border-radius: 4px;
                              font-size: 14px;
                              font-weight: bold;
                              cursor: pointer;
                              border-color: #000;
                              @media (max-width: 767px) {
                                max-width: 100%;
                                width: 100%;
                              }
                            }

                            &.validate {
                              border-color: #f44336;
                            }
                          }
                          textarea {
                            padding: 15px;
                            width: 100%;
                            background: rgb(246, 248, 250);
                            border-radius: 2px;
                            border: 1px solid rgb(193, 201, 210);
                            height: 100.71px;
                            resize: none;
                            font-size: 12px;
                            font-weight: bold;
                            &.validate {
                              border-color: #f44336;
                            }
                          }

                          &.comment-form-attachment {
                            display: block;
                            width: 100%;
                            position: relative;
                            margin-bottom: 15px;
                            span {
                              display: none;
                            }
                            .comment-form-attachment__label {
                              position: relative;
                              width: max-content;
                              padding: 10px 0;
                              color: #2196f3;
                              border-radius: 4px;
                              margin-bottom: 0;
                              cursor: pointer;
                              transition: 0.3s all ease-in-out;
                              text-decoration: underline;

                              p {
                                position: absolute;
                                #{$end}: -50px;
                                color: #000;
                                top: 0;
                                bottom: 0;
                                display: flex;
                                align-items: center;
                                margin: 0;
                                body.ltr & {
                                  #{$end}: -40px;
                                }
                              }
                            }
                          }

                          &.comment-form-cookies-consent {
                            display: none;
                          }
                        }

                        .comment-form-rating {
                          display: block;
                          width: 100%;
                          order: 0;
                          text-align: #{$start};
                          &::before {
                            content: "في رأيك، كام يستحق المنتج؟";
                            font-size: 12px;
                            font-weight: 600;
                            margin-bottom: 10px;
                            body.ltr & {
                              content: "In your opinion, how much is the product worth?";
                            }
                          }
                          label {
                            display: none;
                          }

                          .stars {
                            margin-bottom: 10px;
                            text-align: #{$start};
                            margin-top: 10px;
                            span {
                              display: inline-block;
                              vertical-align: top;
                              a {
                                cursor: pointer;
                                font-size: 0;
                                visibility: hidden;
                                &::before {
                                  content: "star_outline";
                                  @include MaterialFamily;
                                  font-weight: 400;
                                  color: #c4278d;
                                  visibility: visible;
                                  font-size: 24px;
                                }

                                &:hover:before {
                                  content: "star";
                                }

                                &.active:before {
                                  content: "star";
                                }
                              }
                            }

                            &.selected {
                              a:before {
                                content: "star";
                              }
                              a:hover ~ a:before {
                                content: "star_outline";
                              }
                              a.active ~ a:before {
                                content: "star_outline";
                              }
                            }
                          }

                          .comment-form-rating,
                          .comment-form-author,
                          .comment-form-cookies-consent {
                            display: none;
                          }
                        }
                      }
                    }
                  }

                  #comments {
                    h2.woocommerce-Reviews-title {
                      display: none;
                    }

                    .commentlist {
                      position: relative;
                      margin-top: 10px;
                      &::before {
                        content: "تقييمات سابقة من عملائنا";
                        display: block;
                        font-size: 14px;
                        font-weight: bold;
                        color: rgba(0, 0, 0, 0.85);
                        margin-bottom: 20px;
                        text-align: #{$start};
                        body.ltr & {
                          content: "Previous reviews from our customers";
                        }
                      }
                      li {
                        padding-bottom: 20px;
                        border-bottom: 1px solid #f6daef;
                        margin-bottom: 20px;
                        .comment_container {
                          display: flex;
                          img {
                            height: 36px;
                            width: 36px;
                            border-radius: 50%;
                            margin-#{$end}: 20px;
                          }
                          .comment-text {
                            display: inline-flex;
                            flex-direction: column;
                            text-align: #{$start};
                            .star-rating {
                              position: relative;
                              order: 2;
                              font-size: 12px;
                              width: 60px;
                              margin-bottom: 20px;
                              &::before {
                                content: "star_outlinestar_outlinestar_outlinestar_outlinestar_outline";
                                color: #c4278d;
                                top: 0;
                                right: 0;
                                position: absolute;
                                @include MaterialFamily;
                                visibility: visible;
                                font-weight: 100;
                                body.ltr & {
                                  right: auto;
                                  left: 0;
                                }
                              }

                              span {
                                position: relative;
                                position: absolute;
                                display: block;
                                overflow: hidden;
                                font-size: 0;
                                top: 1px;
                                bottom: 0;
                                background-image: url(../img/icons/fill-stars.png);
                                background-repeat: no-repeat;
                                background-size: 58px;
                                height: 12px;
                                body.rtl & {
                                  background-position: right 0px;
                                  right: 1px;
                                }
                                body.ltr & {
                                  background-position: left 0px;
                                  left: 1px;
                                }
                              }
                            }
                            .meta {
                              display: flex;
                              flex-direction: column;
                              order: 1;
                              span {
                                display: none;
                              }
                              strong {
                                margin-bottom: 7px;
                              }
                              em {
                                margin-bottom: 7px;
                                font-size: 11px;
                                font-weight: 600;
                              }
                              time {
                                font-size: 12px;
                                color: #a3a3a3;
                                font-weight: 500;
                              }
                              font-size: 12px;
                              font-weight: bold;
                              margin-bottom: 10px;
                              body.ltr & {
                                font-size: 14px;
                              }
                            }
                            .description {
                              order: 3;
                              p {
                                color: #121212;
                                font-size: 12px;
                                line-height: 22px;
                                margin-bottom: 10px;
                              }
                              .dco-attachment-gallery {
                                display: flex;
                              }
                              .dco-attachment {
                                cursor: pointer;
                                img {
                                  width: auto;
                                  height: auto;
                                  margin: 0 auto !important;
                                  border-radius: 4px;
                                  border: 1px solid #c1c9d2;
                                  padding: 5px;
                                }
                              }
                            }
                            .comment-attachments {
                              position: relative;
                              position: fixed;
                              top: 0;
                              bottom: 0;
                              left: 0;
                              right: 0;
                              z-index: 99999999999;
                              width: 550px;
                              height: 600px;
                              margin: 0 auto;
                              @media (max-width: 767px) {
                                width: 95%;
                                margin: 60px auto;
                                height: 500px;
                              }
                              .slick-list {
                                width: 500px;
                                height: 500px;
                                margin: 50px auto;
                                background-color: #fff;
                                border-radius: 4px;
                                @media (max-width: 767px) {
                                  width: 100% !important;
                                  margin: 0;
                                }
                                .slick-track {
                                  height: 100% !important;
                                  @media (max-width: 767px) {
                                    width: 100% !important;
                                    margin: 0;
                                  }
                                  .slick-slide {
                                    height: 100% !important;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    @media (max-width: 767px) {
                                      width: 100% !important;
                                    }
                                    img {
                                      width: auto;
                                      height: auto;
                                      max-width: 400px;
                                      margin: 0;
                                      border-radius: 0;
                                    }
                                  }
                                }
                              }
                              .slick-arrow {
                                position: absolute;
                                background: #ffffff;
                                border: 1px solid #edf2f4;
                                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                                width: 44px;
                                height: 100px;
                                top: 50%;
                                margin-top: -35px;
                                z-index: 1;
                                @include transition(all, 0.2s, ease);
                                &.slick-next {
                                  #{$end}: -25px;
                                  #{$start}: auto;
                                  @media (max-width: 767px) {
                                    #{$end}: 0;
                                    margin-top: 0px;
                                  }
                                  &::before {
                                    content: "keyboard_arrow_#{$end}";
                                    @include MaterialFamily;
                                    line-height: 20px;
                                    font-size: 24px;
                                    opacity: 1;
                                    color: #121212;
                                    font-weight: 100;
                                  }
                                }
                                &.slick-prev {
                                  #{$start}: -25px;
                                  #{$end}: auto;
                                  @media (max-width: 767px) {
                                    #{$start}: 0;
                                  }
                                  &::before {
                                    content: "keyboard_arrow_#{$start}";
                                    @include MaterialFamily;
                                    line-height: 20px;
                                    font-size: 24px;
                                    opacity: 1;
                                    color: #121212;
                                    font-weight: 100;
                                  }
                                }
                                &.slick-disabled {
                                  opacity: 0;
                                }
                                &:hover {
                                  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
                                }
                              }

                              &.active {
                                display: block !important;
                              }
                            }
                            .review-note {
                              order: 3;
                              margin-bottom: 6px;
                              font-size: 12px;
                              color: #a3a3a3;
                            }
                          }
                        }
                      }
                    }
                  }
                }

                &.no-rev {
                  .woocommerce-Reviews {
                    #comments {
                      p {
                        display: none;
                      }
                    }
                  }

                  .noreviews {
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.47px;
                    line-height: 27px;
                    color: rgba(0, 0, 0, 0.4);
                    text-align: #{$start};
                  }
                }
              }
            }
          }
          .tab-content {
            display: none;
            &.active {
              display: block;
            }
          }
        }
      }
    }

    .right {
      padding: 0px 50px;
      width: calc(100% - 100px);
      .description {
        padding-bottom: 35px;
        border-bottom: 1px solid rgba(151 151 151 / 20%);
        a {
          display: block;
          font-size: 16px;
          font-weight: 300;
          color: #00a9e7;
          letter-spacing: 0.44px;
          margin-bottom: 7px;
          &:hover {
            text-decoration: underline;
          }
        }
        h4 {
          font-size: 36px;
          font-weight: bold;
          letter-spacing: 1px;
          margin-bottom: 11px;
        }
        p {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.44px;
          line-height: 28px;
        }
      }
      .product-features {
        padding: 13px 0;
        border-bottom: 1px solid rgba(151 151 151 / 20%);
        ul {
          display: flex;
          align-items: flex-end;
          li {
            display: inline-block;
          }
        }
      }
      .stores {
        padding: 30px 0;
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            width: 49%;
            background: white;
            border-radius: 5px;
            box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-size: 0;
            padding: 10px 0;
            margin-bottom: 10px;
            span {
              display: block;
              font-size: 11px;
              letter-spacing: 0.31px;
              color: #414241;
            }
            img {
              max-width: 82px;
            }
          }
        }
      }
      .pdf-widget {
        background: linear-gradient(
          -194.0362434679265deg,
          rgb(255, 238, 238) 0%,
          rgb(240, 172, 149) 100%
        );
        border-radius: 5px;
        text-align: center;
        padding: 30px;
        img {
          display: block;
          margin: 0 auto 6px;
        }
        span {
          display: block;
          font-size: 15px;
          font-weight: 600;
          line-height: 28px;
          color: #000;
        }
        p {
          font-size: 24px;
          font-weight: bold;
          color: #000;
          margin-bottom: 14px;
        }
        a.btn {
          display: table;
          padding: 0 50px;
          background: linear-gradient(
            45deg,
            rgb(235, 41, 43) 0%,
            rgb(248, 162, 133) 100%
          );
          border-radius: 5px;
          line-height: 38px;
          font-size: 17px;
          font-weight: bold;
          text-transform: uppercase;
          color: #fff;
          margin: 0 auto;
          &:hover {
            background: linear-gradient(45deg, #d72224 0%, #f59d7f 100%);
          }
        }
      }
    }
  }


  .scroll-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 60px 40px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
      height: 56px;
      width: 56px;
      border-radius: 50%;
      margin-bottom: 10px;
      cursor: pointer;
      transition: 0.3s all ease-in-out;
      &:hover {
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
      }
    }
    b {
      display: block;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.33px;
    }
  }

  .more-products {
    margin-bottom: 70px;
    &:last-child{
      margin-bottom: 0;
    }
    h4 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .products-row{
      display: flex;
      align-items: center;
      margin: 0 -30px;
      .col{
        width: calc(100% / 5);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        border-#{$end}: 1px solid #e8e8e8;
        .image{
          margin-bottom: 20px;
        }
        p{
          font-size: 20px;
          letter-spacing: 0.56px;
          margin-bottom: 4px;
        }
        span{
          font-size: 14px;
          color: #737174;
          letter-spacing: 0.39px;
        }
        &:last-child{
          border-#{$end}: none;
        }
      }
    }
  }
}

@keyframes flashing {
  0% {
    opacity: 0.04;
    transition: 0.5s all ease-in-out;
  }
  20% {
    opacity: 0.06;
    transition: 0.5s all ease-in-out;
  }
  40% {
    opacity: 0.08;
    transition: 0.5s all ease-in-out;
  }
  60% {
    opacity: 0.1;
    transition: 0.5s all ease-in-out;
  }
  80% {
    opacity: 0.15;
    transition: 0.5s all ease-in-out;
  }
  100% {
    opacity: 0.2;
    transition: 0.5s all ease-in-out;
  }
}
